Repository bounswe/bounswe2023group5, pull requests merged in 2023-10, with the labels that each got.

#442 register endpoint, database config, mapping config, services, etc.
  .DS_Store
  .idea/compiler.xml
  app/backend/.gitignore
  app/backend/pom.xml
  app/backend/src/main/java/com/app/gamereview/config/MapperConfig.java
  app/backend/src/main/java/com/app/gamereview/controller/AuthController.java
  app/backend/src/main/java/com/app/gamereview/controller/UserController.java
  app/backend/src/main/java/com/app/gamereview/dto/GetAllUsersFilterDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/RegisterUserRequestDto.java
  app/backend/src/main/java/com/app/gamereview/model/User.java
  app/backend/src/main/java/com/app/gamereview/model/common/BaseModel.java
  app/backend/src/main/java/com/app/gamereview/repository/UserRepository.java
  app/backend/src/main/java/com/app/gamereview/service/AuthService.java
  app/backend/src/main/java/com/app/gamereview/service/UserService.java
  app/backend/src/main/resources/.env.example
  app/backend/src/main/resources/application.properties
  app/backend/target/classes/application.properties
  app/backend/target/classes/com/app/gamereview/controller/SampleController.class
Labels: Priority: Medium, Type: Feature

#445 added initial dockerfile for containerization
  app/backend/Dockerfile
Labels: Priority: Medium, Type: Feature, Status: In Review

#476 Frontend main layout
  app/frontend/.eslintrc.cjs
  app/frontend/.gitignore
  app/frontend/Dockerfile
  app/frontend/README.md
  app/frontend/index.html
  app/frontend/package.json
  app/frontend/pnpm-lock.yaml
  app/frontend/src/App.tsx
  app/frontend/src/Layout/MainLayout/MainLayout.module.scss
  app/frontend/src/Layout/MainLayout/MainLayout.tsx
  app/frontend/src/Pages/HelloWorld/HelloWorld.module.scss
  app/frontend/src/Pages/HelloWorld/HelloWorld.tsx
  app/frontend/src/globals.scss
  app/frontend/src/main.tsx
  app/frontend/src/router.tsx
  app/frontend/src/vite-env.d.ts
  app/frontend/tsconfig.json
  app/frontend/tsconfig.node.json
  app/frontend/vite.config.ts
Labels: Team: Frontend

#477 Delete user implementation
  app/backend/src/main/java/com/app/gamereview/controller/UserController.java
  app/backend/src/main/java/com/app/gamereview/dto/GetAllUsersFilterDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/GetAllUsersFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/model/User.java
  app/backend/src/main/java/com/app/gamereview/model/common/BaseModel.java
  app/backend/src/main/java/com/app/gamereview/repository/UserRepository.java
  app/backend/src/main/java/com/app/gamereview/service/AuthService.java
  app/backend/src/main/java/com/app/gamereview/service/UserService.java
Labels: Type: Feature, Team: Backend

#480 Backend change password endpoint implementation
  .idea/misc.xml
  app/backend/src/main/java/com/app/gamereview/config/MapperConfig.java
  app/backend/src/main/java/com/app/gamereview/config/SpringdocConfig.java
  app/backend/src/main/java/com/app/gamereview/controller/AuthController.java
  app/backend/src/main/java/com/app/gamereview/controller/SampleController.java
  app/backend/src/main/java/com/app/gamereview/controller/UserController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/ChangeUserPasswordRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/GetAllUsersFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/RegisterUserRequestDto.java
  app/backend/src/main/java/com/app/gamereview/model/SampleModel.java
  app/backend/src/main/java/com/app/gamereview/model/User.java
  app/backend/src/main/java/com/app/gamereview/model/common/BaseModel.java
  app/backend/src/main/java/com/app/gamereview/repository/UserRepository.java
  app/backend/src/main/java/com/app/gamereview/service/AuthService.java
  app/backend/src/main/java/com/app/gamereview/service/UserService.java
Labels: Priority: Medium, Type: Feature, Team: Backend

#483 register user refactorings
  .idea/misc.xml
  app/backend/src/main/java/com/app/gamereview/dto/request/RegisterUserRequestDto.java
  app/backend/src/main/java/com/app/gamereview/repository/UserRepository.java
  app/backend/src/main/java/com/app/gamereview/service/AuthService.java
  app/backend/target/classes/com/app/gamereview/controller/SampleController.class
Labels: Priority: Medium, Type: Enhancement, Status: Done, Team: Backend

#484 backend login endpoint implementation
  .idea/misc.xml
  app/backend/pom.xml
  app/backend/src/main/java/com/app/gamereview/controller/AuthController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/LoginUserRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/LoginUserResponseDto.java
  app/backend/src/main/java/com/app/gamereview/repository/UserRepository.java
  app/backend/src/main/java/com/app/gamereview/service/AuthService.java
  app/backend/src/main/java/com/app/gamereview/util/JwtUtil.java
  app/backend/src/main/resources/.env.example
  app/backend/src/main/resources/application.properties
  app/backend/target/classes/application.properties
  app/backend/target/classes/com/app/gamereview/config/SpringdocConfig.class
  app/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  app/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  app/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  app/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  app/backend/target/surefire-reports/TEST-com.app.gamereview.GamereviewApplicationTests.xml
  app/backend/target/surefire-reports/com.app.gamereview.GamereviewApplicationTests.txt
  app/backend/target/test-classes/com/app/gamereview/GamereviewApplicationTests.class
Labels: Type: Feature, Team: Backend

#478 _colors.scss added
  app/frontend/src/Layout/MainLayout/MainLayout.module.scss
  app/frontend/src/_colors.scss
  app/frontend/src/globals.scss
Labels: Type: Feature, Team: Frontend

#505 Update sign up page
  app/mobile/Assets/Prefabs/Sign-up.prefab
  app/mobile/Assets/Scripts/CreateAccount.cs
Labels: Priority: Medium, Status: Done, Team: Mobile

#502 Log Out Functionality - MOBILE
  app/mobile/Assets/Prefabs/Log-out Button.prefab
  app/mobile/Assets/Prefabs/Log-out Button.prefab.meta
  app/mobile/Assets/Scripts/CanvasManager.cs
  app/mobile/Assets/Scripts/LogOut.cs
  app/mobile/Assets/Scripts/LogOut.cs.meta
Labels: Priority: High, Type: Feature, Status: In Review, Team: Mobile

#553 Backend game entity
  app/backend/.gitignore
  app/backend/format.sh
  app/backend/src/main/java/com/app/gamereview/controller/AuthController.java
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/controller/ImageController.java
  app/backend/src/main/java/com/app/gamereview/controller/UserController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/ForgotPasswordRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/GetAllUsersFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/GetGameListRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/GetGameListResponseDto.java
  app/backend/src/main/java/com/app/gamereview/model/Game.java
  app/backend/src/main/java/com/app/gamereview/model/ResetCode.java
  app/backend/src/main/java/com/app/gamereview/model/common/BaseModel.java
  app/backend/src/main/java/com/app/gamereview/repository/GameRepository.java
  app/backend/src/main/java/com/app/gamereview/service/AuthService.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
  app/backend/src/main/java/com/app/gamereview/service/UserService.java
  app/backend/src/main/resources/application.properties
  app/backend/target/classes/application.properties
  app/backend/target/classes/com/app/gamereview/GamereviewApplication.class
  app/backend/target/classes/com/app/gamereview/controller/SampleController.class
  app/backend/target/classes/com/app/gamereview/model/SampleModel.class
  app/frontend/.gitignore
Labels: Priority: High, Type: Feature, Status: In Review, Team: Backend

#556 tag functionality implementation
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/controller/TagController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/tag/AddGameTagRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/tag/CreateTagRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/tag/GetAllTagsFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/tag/UpdateTagRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/tag/AddGameTagResponseDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/tag/GetAllTagsOfGameResponseDto.java
  app/backend/src/main/java/com/app/gamereview/enums/TagType.java
  app/backend/src/main/java/com/app/gamereview/model/Game.java
  app/backend/src/main/java/com/app/gamereview/model/Tag.java
  app/backend/src/main/java/com/app/gamereview/repository/TagRepository.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
  app/backend/src/main/java/com/app/gamereview/service/TagService.java
Labels: Team: Backend

#555 authorization logic implemented
  app/backend/src/main/java/com/app/gamereview/config/JwtInterceptor.java
  app/backend/src/main/java/com/app/gamereview/config/WebConfig.java
  app/backend/src/main/java/com/app/gamereview/controller/AuthController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/ChangeUserPasswordRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/ForgotChangeUserPasswordRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/MeRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/UserResponseDto.java
  app/backend/src/main/java/com/app/gamereview/model/User.java
  app/backend/src/main/java/com/app/gamereview/service/AuthService.java
  app/backend/src/main/java/com/app/gamereview/util/AuthorizationRequired.java
  app/backend/src/main/java/com/app/gamereview/util/JwtUtil.java
Labels: Team: Backend

#564 add game tag bugfix
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/model/Game.java
Labels: Type: Bug, Team: Backend

#567 Frontend/auth wrapper
  app/frontend/Dockerfile
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/pnpm-lock.yaml
  app/frontend/src/Components/Hooks/useAuth.tsx
  app/frontend/src/Pages/ChangePassword/ChangePassword.tsx
  app/frontend/src/Pages/ForgotPassword/EnterVerificationCodeForm.tsx
  app/frontend/src/Pages/ForgotPassword/SendVerificationCodeForm.tsx
  app/frontend/src/Pages/ForgotPassword/SetNewPasswordForm.tsx
  app/frontend/src/Pages/HelloWorld/HelloWorld.tsx
  app/frontend/src/Pages/Login/Login.tsx
  app/frontend/src/Pages/Register/Register.tsx
  app/frontend/src/Services/me.ts
  app/frontend/src/main.tsx
  app/frontend/src/router.tsx
Labels: Priority: Critical, Type: Feature, Status: In Review, Team: Frontend

#562 Backend game filter
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/GetGameListRequestDto.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
Labels: Priority: Medium, Status: Done

#565 Backend game detail endpoint
  .idea/misc.xml
  app/backend/.gitignore
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/dto/response/GameDetailResponseDto.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
Labels: Type: Feature, Team: Backend

#561 Dockerfile updated
  app/backend/Dockerfile
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Backend

#571 Frontend/move services
  app/backend/src/main/java/com/app/gamereview/controller/ImageController.java
  app/backend/target/classes/application.properties
  app/frontend/.dockerignore
  app/frontend/Dockerfile
  app/frontend/src/Components/Hooks/useAuth.tsx
  app/frontend/src/Pages/ForgotPassword/EnterVerificationCodeForm.tsx
  app/frontend/src/Pages/ForgotPassword/SendVerificationCodeForm.tsx
  app/frontend/src/Pages/ForgotPassword/SetNewPasswordForm.tsx
  app/frontend/src/Pages/HelloWorld/HelloWorld.tsx
  app/frontend/src/Pages/Login/Login.tsx
  app/frontend/src/Pages/Register/Register.tsx
  app/frontend/src/Services/ForgotPassword.ts
  app/frontend/src/Services/Login.ts
  app/frontend/src/Services/Register.ts
  app/frontend/src/main.tsx
  app/frontend/src/router.tsx
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Frontend

#575 Sidebar and Footer implementation
  app/frontend/assets/images/guru.jpeg
  app/frontend/package.json
  app/frontend/pnpm-lock.yaml
  app/frontend/src/App.tsx
  app/frontend/src/Components/Icons/GameController.tsx
  app/frontend/src/Components/Icons/Profile.tsx
  app/frontend/src/Components/Providers/AntdConfigProvider.tsx
  app/frontend/src/Layout/Footer/Footer.module.scss
  app/frontend/src/Layout/Footer/Footer.tsx
  app/frontend/src/Layout/MainLayout/MainLayout.module.scss
  app/frontend/src/Layout/MainLayout/MainLayout.tsx
  app/frontend/src/Layout/SideBar/SideBar.module.scss
  app/frontend/src/Layout/SideBar/SideBar.tsx
  app/frontend/src/Layout/TopBar/TopBar.module.scss
  app/frontend/src/Layout/TopBar/TopBar.tsx
  app/frontend/src/Pages/HelloWorld/HelloWorld.tsx
  app/frontend/src/_colors.scss
  app/frontend/src/globals.scss
  app/frontend/src/theme.ts
Labels: Status: Done

#563 Frontend games page
  app/frontend/assets/images/game-console.png
  app/frontend/assets/images/game-icons/poe.png
  app/frontend/assets/images/index.ts
  app/frontend/package.json
  app/frontend/pnpm-lock.yaml
  app/frontend/src/App.tsx
  app/frontend/src/Components/Game/Game.module.scss
  app/frontend/src/Components/Game/Game.tsx
  app/frontend/src/Components/MultipleSelect/MultipleSelect.module.css
  app/frontend/src/Components/MultipleSelect/MultipleSelect.tsx
  app/frontend/src/Components/SingleSelect/SingleSelect.module.scss
  app/frontend/src/Components/SingleSelect/SingleSelect.tsx
  app/frontend/src/Pages/Games/Games.module.scss
  app/frontend/src/Pages/Games/Games.tsx
  app/frontend/src/Services/games.ts
  app/frontend/src/Services/tags.ts
  app/frontend/src/router.tsx
Labels: Priority: Medium, Status: Done

#580 Fixes topbar navigation for logged in users
  app/frontend/src/Layout/TopBar/TopBar.tsx
Labels: Type: Bug

#581 Frontend/auto redirect
  app/frontend/src/Pages/Login/Login.tsx
  app/frontend/src/router.tsx
Labels: Priority: High, Type: Enhancement, Status: Done, Team: Frontend

#585 Mobile change password functionality
  app/mobile/Assets/Adaptive Performance.meta
  app/mobile/Assets/Adaptive Performance/Settings.meta
  app/mobile/Assets/Adaptive Performance/Settings/Simulator Provider Settings.asset
  app/mobile/Assets/Adaptive Performance/Settings/Simulator Provider Settings.asset.meta
  app/mobile/Assets/Prefabs/ChangePassword.prefab
  app/mobile/Assets/Prefabs/ChangePassword.prefab.meta
  app/mobile/Assets/Prefabs/Password Variant.prefab
  app/mobile/Assets/Prefabs/Password Variant.prefab.meta
  app/mobile/Assets/Scripts/CanvasManager.cs
  app/mobile/Assets/Scripts/ChangePassword.cs
  app/mobile/Assets/Scripts/ChangePassword.cs.meta
  app/mobile/Assets/Scripts/PasswordChangeRequest.cs
  app/mobile/Assets/Scripts/PasswordChangeRequest.cs.meta
  app/mobile/Packages/manifest.json
  app/mobile/Packages/packages-lock.json
Labels: Priority: High, Type: Feature, Status: In Progress, Team: Mobile

#586 small endpoint path change
  app/backend/src/main/java/com/app/gamereview/controller/ImageController.java
Labels: Priority: High, Type: Bug, Status: In Review

#589 Mobile game details
  app/mobile/Assets/Prefabs/GameDetailsButton.prefab
  app/mobile/Assets/Prefabs/GameDetailsButton.prefab.meta
  app/mobile/Assets/Prefabs/GameDetailsPage.prefab
  app/mobile/Assets/Prefabs/GameDetailsPage.prefab.meta
  app/mobile/Assets/Prefabs/Games.prefab
  app/mobile/Assets/Resources/Prefabs/GamePage.prefab
  app/mobile/Assets/Scenes/Main.unity
  app/mobile/Assets/Scripts/CanvasManager.cs
  app/mobile/Assets/Scripts/GameDetails.cs
  app/mobile/Assets/Scripts/GameDetails.cs.meta
  app/mobile/Assets/Scripts/GamePage.cs
Labels: Priority: High, Type: Feature, Status: In Progress, Team: Mobile

#594 Frontend/global error handling
  app/frontend/src/Library/utils/handleError.ts
  app/frontend/src/main.tsx
Labels: Status: Done

#597 added user service tests
  app/backend/src/test/java/com/app/gamereview/GamereviewApplicationTests.java
  app/backend/src/test/java/com/app/gamereview/service/UserServiceTests.java
Labels: Type: Test, Team: Backend

#600 Backend test auth service
  app/backend/pom.xml
  app/backend/src/main/java/com/app/gamereview/dto/request/LoginUserRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/RegisterUserRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/LoginUserResponseDto.java
  app/backend/src/main/java/com/app/gamereview/model/User.java
  app/backend/src/main/java/com/app/gamereview/service/AuthService.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
  app/backend/src/test/java/com/app/gamereview/service/AuthServiceTest.java
  app/backend/target/classes/com/app/gamereview/GamereviewApplication.class
  app/backend/target/classes/com/app/gamereview/controller/SampleController.class
  app/backend/target/classes/com/app/gamereview/model/SampleModel.class
Labels: Type: Test, Team: Backend
