Repository bounswe/bounswe2023group5, pull requests merged in 2023-12, with the labels that each got.

#967 Update game functionality is implemented
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/game/UpdateGameRequestDto.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
Labels: Type: Feature, Team: Backend

#969 added images to groups
  app/backend/src/main/java/com/app/gamereview/dto/request/group/CreateGroupRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/group/UpdateGroupRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/group/GetGroupDetailResponseDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/group/GetGroupResponseDto.java
  app/backend/src/main/java/com/app/gamereview/model/Group.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Backend

#970 Necessary functionalities are implemented for homepage
  app/backend/src/main/java/com/app/gamereview/controller/HomeController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/home/HomePagePostsFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/repository/PostRepository.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
Labels: Type: Feature, Team: Backend

#973 added character entity and related endpoints
  app/backend/src/main/java/com/app/gamereview/controller/CharacterController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/character/CreateCharacterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/character/UpdateCharacterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/model/Character.java
  app/backend/src/main/java/com/app/gamereview/repository/CharacterRepository.java
  app/backend/src/main/java/com/app/gamereview/service/CharacterService.java
Labels: Priority: High, Type: Feature, Status: In Review, Team: Backend

#974 Fixed 2 tests that needed improvement
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
  app/backend/src/test/java/com/app/gamereview/service/CommentServiceTests.java
  app/backend/src/test/java/com/app/gamereview/service/PostServiceTest.java
Labels: Type: Enhancement, Team: Backend

#976 Implemented Additional Notification Creation Logic
  app/backend/src/main/java/com/app/gamereview/enums/NotificationMessage.java
  app/backend/src/main/java/com/app/gamereview/repository/NotificationRepository.java
  app/backend/src/main/java/com/app/gamereview/service/CommentService.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
  app/backend/src/main/java/com/app/gamereview/service/VoteService.java
  app/backend/src/test/java/com/app/gamereview/service/CommentServiceTests.java
Labels: Type: Feature, Team: Backend

#978 Homepage improvements
  app/backend/src/main/java/com/app/gamereview/controller/HomeController.java
  app/backend/src/main/java/com/app/gamereview/dto/response/home/HomePagePostResponseDto.java
  app/backend/src/main/java/com/app/gamereview/repository/ForumRepository.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
Labels: Type: Enhancement, Team: Backend

#991 added the remaining functionalities to charactes
  app/backend/src/main/java/com/app/gamereview/dto/request/character/CreateCharacterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/character/UpdateCharacterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/post/CreatePostRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostDetailResponseDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostListResponseDto.java
  app/backend/src/main/java/com/app/gamereview/model/Character.java
  app/backend/src/main/java/com/app/gamereview/model/Post.java
  app/backend/src/main/java/com/app/gamereview/service/CharacterService.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
  app/backend/src/test/java/com/app/gamereview/service/PostServiceTest.java
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Backend

#988 Frontend Game Delete Functionality
  app/frontend/src/Pages/Admin/Game/DeleteGame/DeleteGame.module.scss
  app/frontend/src/Pages/Admin/Game/DeleteGame/DeleteGame.tsx
  app/frontend/src/Pages/Admin/Main/Main.tsx
  app/frontend/src/Services/games.ts
  app/frontend/src/router.tsx
Labels: Priority: Medium, Type: Feature, Status: Done, Team: Frontend

#984 Character is implemented with its detail pop-up
  app/frontend/assets/images/batrider.png
  app/frontend/package.json
  app/frontend/pnpm-lock.yaml
  app/frontend/src/Components/Character/Character.module.scss
  app/frontend/src/Components/Character/Character.tsx
  app/frontend/src/Components/Character/CharacterDetails.module.scss
  app/frontend/src/Components/Character/CharacterDetails.tsx
  app/frontend/src/Pages/Char/Char.tsx
  app/frontend/src/Services/character.ts
  app/frontend/src/main.tsx
  app/frontend/src/router.tsx
Labels: Priority: High, Type: Feature, Status: In Review, Team: Frontend

#994 Implement notifaction endpoint request
  app/mobile/Assets/Scripts/NotificationRequests.meta
  app/mobile/Assets/Scripts/NotificationRequests/GetNotification.cs
  app/mobile/Assets/Scripts/NotificationRequests/GetNotification.cs.meta
Labels: Priority: High, Type: Feature, Status: Done

#986 Frontend Game Update Functionality
  app/frontend/src/Pages/Admin/Game/CreateGame/CreateGame.tsx
  app/frontend/src/Pages/Admin/Game/UpdateGame/UpdateGame.module.scss
  app/frontend/src/Pages/Admin/Game/UpdateGame/UpdateGame.tsx
  app/frontend/src/Pages/Admin/Main/Main.tsx
  app/frontend/src/Services/games.ts
  app/frontend/src/router.tsx
Labels: Priority: Medium, Type: Feature, Status: Done, Team: Frontend

#987 Frontend Create Character Functionality
  app/frontend/src/Pages/Admin/Character/CreateCharacter/CreateCharacter.module.scss
  app/frontend/src/Pages/Admin/Character/CreateCharacter/CreateCharacter.tsx
  app/frontend/src/Pages/Admin/Main/Main.tsx
  app/frontend/src/Services/character.ts
  app/frontend/src/router.tsx
Labels: Priority: Medium, Type: Feature, Status: Done, Team: Frontend

#1018 Homepage returned posts improvements and fixes
  app/backend/src/main/java/com/app/gamereview/dto/response/home/HomePagePostResponseDto.java
  app/backend/src/main/java/com/app/gamereview/model/common/BaseModel.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
Labels: Type: Enhancement, Type: Bug, Team: Backend

#1019 Recommendation - Games
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/game/RecommendGameDto.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
Labels: Type: Feature, Team: Backend

#997 Frontend Put Character to Game
  app/frontend/src/Components/Character/Character.module.scss
  app/frontend/src/Components/GameDetails/Summary/Summary.module.scss
  app/frontend/src/Components/GameDetails/Summary/Summary.tsx
Labels: Priority: Medium, Type: Feature, Status: Done, Team: Frontend

#1020 Frontend Refactor Auth
  app/frontend/src/Pages/Admin/Achievement/CreateAchievement/CreateAchievement.tsx
  app/frontend/src/Pages/Login/Login.module.css
  app/frontend/src/Pages/Login/Login.tsx
  app/frontend/src/Pages/Register/Register.module.css
  app/frontend/src/Pages/Register/Register.tsx
  app/frontend/src/Services/games.ts
  app/frontend/src/main.tsx
  app/frontend/src/router.tsx
Labels: Priority: Medium, Type: Enhancement, Status: Done, Team: Frontend

#1021 added group recommendations
  app/backend/src/main/java/com/app/gamereview/controller/GroupController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/group/RecommendGroupDto.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
Labels: Type: Feature, Team: Backend

#1022 initialization of annotation backend
  app/annotation/annotation/.gitignore
  app/annotation/annotation/.idea/.gitignore
  app/annotation/annotation/.idea/encodings.xml
  app/annotation/annotation/.idea/misc.xml
  app/annotation/annotation/.idea/vcs.xml
  app/annotation/annotation/pom.xml
  app/annotation/annotation/src/main/java/com/app/annotation/Main.java
  app/annotation/annotation/src/main/java/com/app/annotation/config/CorsConfig.java
  app/annotation/annotation/src/main/java/com/app/annotation/config/MapperConfig.java
  app/annotation/annotation/src/main/java/com/app/annotation/controller/AnnotationController.java
  app/annotation/annotation/src/main/java/com/app/annotation/dto/request/BodyDto.java
  app/annotation/annotation/src/main/java/com/app/annotation/dto/request/CreateAnnotationRequestDto.java
  app/annotation/annotation/src/main/java/com/app/annotation/dto/request/SelectorDto.java
  app/annotation/annotation/src/main/java/com/app/annotation/dto/request/TargetDto.java
  app/annotation/annotation/src/main/java/com/app/annotation/model/Annotation.java
  app/annotation/annotation/src/main/java/com/app/annotation/model/Body.java
  app/annotation/annotation/src/main/java/com/app/annotation/model/Creator.java
  app/annotation/annotation/src/main/java/com/app/annotation/model/Selector.java
  app/annotation/annotation/src/main/java/com/app/annotation/model/Target.java
  app/annotation/annotation/src/main/java/com/app/annotation/model/TextPositionSelector.java
  app/annotation/annotation/src/main/java/com/app/annotation/model/TextQuoteSelector.java
  app/annotation/annotation/src/main/java/com/app/annotation/repository/AnnotationRepository.java
  app/annotation/annotation/src/main/java/com/app/annotation/service/AnnotationService.java
  app/annotation/annotation/src/main/resources/application.properties
Labels: Priority: High, Type: Feature, Status: In Review, Team: Backend

#1025 Added annotation crud endpoints
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/misc.xml
  app/annotation/annotation/Dockerfile
  app/annotation/annotation/pom.xml
  app/annotation/annotation/src/main/java/com/app/annotation/config/SpringdocConfig.java
  app/annotation/annotation/src/main/java/com/app/annotation/controller/AnnotationController.java
  app/annotation/annotation/src/main/java/com/app/annotation/dto/request/CreateAnnotationRequestDto.java
  app/annotation/annotation/src/main/java/com/app/annotation/model/Annotation.java
  app/annotation/annotation/src/main/java/com/app/annotation/repository/AnnotationRepository.java
  app/annotation/annotation/src/main/java/com/app/annotation/service/AnnotationService.java
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Backend

#1023 Frontend/apply group enhancements
  app/frontend/src/Components/Application/Application.module.scss
  app/frontend/src/Components/Application/Application.tsx
  app/frontend/src/Components/Groups/PrivateGroup.tsx
  app/frontend/src/Components/Notification/Notification.module.scss
  app/frontend/src/Components/Notification/Notification.tsx
  app/frontend/src/Layout/SideBar/SideBar.tsx
  app/frontend/src/Pages/CreateGroup/CreateGroup.tsx
  app/frontend/src/Pages/Group/Group.tsx
  app/frontend/src/Pages/Notifications/Notifications.module.scss
  app/frontend/src/Pages/Notifications/Notifications.tsx
  app/frontend/src/Pages/ReviewApplication/ReviewApplication.module.scss
  app/frontend/src/Pages/ReviewApplication/ReviewApplication.tsx
  app/frontend/src/Services/applications.ts
  app/frontend/src/Services/group.ts
  app/frontend/src/Services/notification.ts
  app/frontend/src/router.tsx
Labels: Priority: Medium, Type: Enhancement, Status: Done, Team: Frontend

#1030 Change password is added to the profile and integrated with backend
  app/frontend/src/Components/Profile/EditProfile.tsx
  app/frontend/src/Pages/ChangePassword/ChangePassword.tsx
  app/frontend/src/Pages/Profile/Profile.module.scss
  app/frontend/src/Pages/Profile/Profile.tsx
  app/frontend/src/Services/changepassword.ts
  app/frontend/src/router.tsx
Labels: Priority: High, Type: Feature, Status: Done, Team: Frontend

#1031 Last activities refactor
  app/frontend/src/Components/LastActivities/LastActivities.module.scss
  app/frontend/src/Components/LastActivities/LastActivities.tsx
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Frontend

#1035 Mobile/upload image from local
  app/mobile/Assets/Plugins/NativeFilePicker.meta
  app/mobile/Assets/Plugins/NativeFilePicker/Android.meta
  app/mobile/Assets/Plugins/NativeFilePicker/Android/FPCallbackHelper.cs
  app/mobile/Assets/Plugins/NativeFilePicker/Android/FPCallbackHelper.cs.meta
  app/mobile/Assets/Plugins/NativeFilePicker/Android/FPPermissionCallbackAndroid.cs
  app/mobile/Assets/Plugins/NativeFilePicker/Android/FPPermissionCallbackAndroid.cs.meta
  app/mobile/Assets/Plugins/NativeFilePicker/Android/FPResultCallbackAndroid.cs
  app/mobile/Assets/Plugins/NativeFilePicker/Android/FPResultCallbackAndroid.cs.meta
  app/mobile/Assets/Plugins/NativeFilePicker/Android/NativeFilePicker.aar
  app/mobile/Assets/Plugins/NativeFilePicker/Android/NativeFilePicker.aar.meta
  app/mobile/Assets/Plugins/NativeFilePicker/Editor.meta
  app/mobile/Assets/Plugins/NativeFilePicker/Editor/NativeFilePicker.Editor.asmdef
  app/mobile/Assets/Plugins/NativeFilePicker/Editor/NativeFilePicker.Editor.asmdef.meta
  app/mobile/Assets/Plugins/NativeFilePicker/Editor/NativeFilePickerCustomTypes.cs
  app/mobile/Assets/Plugins/NativeFilePicker/Editor/NativeFilePickerCustomTypes.cs.meta
  app/mobile/Assets/Plugins/NativeFilePicker/Editor/NativeFilePickerPostProcessBuild.cs
  app/mobile/Assets/Plugins/NativeFilePicker/Editor/NativeFilePickerPostProcessBuild.cs.meta
  app/mobile/Assets/Plugins/NativeFilePicker/NativeFilePicker.Runtime.asmdef
  app/mobile/Assets/Plugins/NativeFilePicker/NativeFilePicker.Runtime.asmdef.meta
  app/mobile/Assets/Plugins/NativeFilePicker/NativeFilePicker.cs
  app/mobile/Assets/Plugins/NativeFilePicker/NativeFilePicker.cs.meta
  app/mobile/Assets/Plugins/NativeFilePicker/README.txt
  app/mobile/Assets/Plugins/NativeFilePicker/README.txt.meta
  app/mobile/Assets/Plugins/NativeFilePicker/iOS.meta
  app/mobile/Assets/Plugins/NativeFilePicker/iOS/FPResultCallbackiOS.cs
  app/mobile/Assets/Plugins/NativeFilePicker/iOS/FPResultCallbackiOS.cs.meta
  app/mobile/Assets/Plugins/NativeFilePicker/iOS/NativeFilePicker.mm
  app/mobile/Assets/Plugins/NativeFilePicker/iOS/NativeFilePicker.mm.meta
  app/mobile/Assets/Prefabs/CreateGame.prefab
  app/mobile/Assets/Prefabs/Profile.prefab
  app/mobile/Assets/Scripts/AchievementRequests/AchievementPopUp.cs
  app/mobile/Assets/Scripts/FileController.cs
  app/mobile/Assets/Scripts/FileController.cs.meta
  app/mobile/Assets/Scripts/GameRequests/CreateGame.cs
  app/mobile/Assets/Scripts/ProfileRequests/GetProfile.cs
Labels: Priority: High, Type: Feature, Status: Done, Team: Mobile

#1060 Improvements on game recommendation system
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
Labels: Type: Enhancement, Team: Backend

#1061 Implemented notification creations for group moderating features
  app/backend/src/main/java/com/app/gamereview/enums/NotificationMessage.java
  app/backend/src/main/java/com/app/gamereview/enums/NotificationParent.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Backend

#1063 Frontend Add System Requirement Field To Create/Update Game
  app/frontend/src/Pages/Admin/Game/CreateGame/CreateGame.tsx
  app/frontend/src/Pages/Admin/Game/UpdateGame/UpdateGame.tsx
  app/frontend/src/Services/games.ts
  app/frontend/vite.config.ts
Labels: Priority: Low, Type: Enhancement, Status: Done, Team: Frontend

#1072 implement filter for games page
  app/mobile/Assets/Scripts/GameRequests/GameScreen.cs
Labels: Priority: High, Type: Feature, Team: Mobile

#1073 Mobile/comment redesign
  app/mobile/Assets/Prefabs/CommentComments.prefab
  app/mobile/Assets/Prefabs/CreateEditPost.prefab
  app/mobile/Assets/Prefabs/PostComments.prefab
  app/mobile/Assets/Resources/Prefabs/CommentPage.prefab
  app/mobile/Assets/Resources/Prefabs/ForumPost.prefab
  app/mobile/Assets/Resources/Prefabs/Tag.prefab
  app/mobile/Assets/Resources/Prefabs/Tag.prefab.meta
  app/mobile/Assets/Scripts/CommentRequests/CommentBox.cs
  app/mobile/Assets/Scripts/CommentRequests/CommentComments.cs
  app/mobile/Assets/Scripts/Controllers/CommentController.cs
  app/mobile/Assets/Scripts/PostRequests/ForumCreatePost.cs
  app/mobile/Assets/Scripts/PostRequests/ForumPost.cs
  app/mobile/Assets/Scripts/PostRequests/ForumPostComments.cs
  app/mobile/Assets/Scripts/TagRequests/Tag.cs
  app/mobile/Assets/Scripts/TagRequests/Tag.cs.meta
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Mobile

#1074 Homepage posts additions
  app/backend/src/main/java/com/app/gamereview/dto/response/home/HomePagePostResponseDto.java
  app/backend/src/main/java/com/app/gamereview/repository/PostRepository.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
Labels: Type: Enhancement, Team: Backend

#1064 Game Promotion Implementation
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/model/Game.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
Labels: Type: Feature, Team: Backend

#1067 Styling of Grant Achievement Button
  app/frontend/src/Pages/CreateGroup/CreateGroup.tsx
  app/frontend/src/Pages/ForumPost/ForumPost.module.scss
  app/frontend/src/Pages/ForumPost/ForumPost.tsx
Labels: Priority: Medium, Type: Enhancement, Status: Done, Team: Frontend

#1076 Backend/group recommendations improvement
  app/backend/src/main/java/com/app/gamereview/controller/GroupController.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
Labels: Type: Feature, Team: Backend

#1081 Increasing test coverage of Vote Service Tests
  app/backend/src/test/java/com/app/gamereview/service/VoteServiceTest.java
Labels: Type: Test, Team: Backend

#1082 game service test improvements
  app/backend/src/test/java/com/app/gamereview/service/GameServiceTest.java
Labels: Priority: High, Status: In Review, Type: Test, Team: Backend

#1084 Enhancing the post service unit test
  app/backend/src/test/java/com/app/gamereview/service/PostServiceTest.java
Labels: Type: Test, Team: Backend

#1083 adding image annotation functionality
  app/annotation/annotation/src/main/java/com/app/annotation/controller/AnnotationController.java
  app/annotation/annotation/src/main/java/com/app/annotation/dto/request/SelectorDto.java
  app/annotation/annotation/src/main/java/com/app/annotation/model/FragmentSelector.java
  app/annotation/annotation/src/main/java/com/app/annotation/model/Target.java
  app/annotation/annotation/src/main/java/com/app/annotation/service/AnnotationService.java
Labels: Priority: High, Type: Feature, Status: In Review, Team: Backend

#1033 Frontend Annotations Functionality
  app/frontend/package.json
  app/frontend/pnpm-lock.yaml
  app/frontend/src/Components/GameDetails/Summary/Summary.tsx
  app/frontend/src/Library/utils/handleError.ts
  app/frontend/src/Pages/ForumPost/ForumPost.tsx
  app/frontend/src/Pages/GameDetails/GameDetails.tsx
  app/frontend/src/Services/annotation.ts
Labels: Priority: High, Type: Feature, Status: Done, Team: Frontend

#1071 improved backend dockerfiles and added compose.yml
  app/annotation/annotation/Dockerfile
  app/backend/.dockerignore
  app/backend/.gitignore
  app/backend/Dockerfile
  app/backend/images/README.md
  app/backend/src/main/java/com/app/gamereview/config/CorsConfig.java
  app/compose.yml
Labels: Priority: High, Type: Enhancement, Status: In Review, Team: Backend

#1086 Frontend syntax fix
  app/frontend/src/Components/Achievement/Achievement/Achievement.tsx
  app/frontend/src/Components/Character/CharacterDetails.tsx
  app/frontend/src/Components/GameDetails/Summary/Summary.tsx
  app/frontend/src/Components/Groups/PrivateGroup.tsx
  app/frontend/src/Components/LastActivities/LastActivities.tsx
  app/frontend/src/Components/Profile/EditProfile.tsx
  app/frontend/src/Pages/Admin/Game/UpdateGame/UpdateGame.tsx
  app/frontend/src/Pages/ForumPost/ForumPost.tsx
  app/frontend/src/Pages/Group/Group.tsx
  app/frontend/src/Pages/Groups/Groups.tsx
  app/frontend/src/Pages/ReviewApplication/ReviewApplication.tsx
  app/frontend/src/Services/Register.ts
  app/frontend/src/Services/applications.ts
Labels: Priority: Medium, Type: Enhancement, Status: Done, Team: Frontend

#996 Notification and Apply Group implementation
  app/frontend/src/Components/Application/Application.tsx
  app/frontend/src/Components/Groups/PrivateGroup.tsx
  app/frontend/src/router.tsx
Labels: Type: Feature, Team: Frontend

#1089 Updated pom file to fix deployment error
  app/annotation/annotation/pom.xml
Labels: Type: Bug, Team: Backend

#1062 Frontend Replace Messages
  app/frontend/src/Components/Application/Application.tsx
  app/frontend/src/Components/Groups/PublicGroup.tsx
  app/frontend/src/Components/Profile/EditProfile.tsx
  app/frontend/src/Pages/ChangePassword/ChangePassword.tsx
  app/frontend/src/Pages/ForumPost/ForumPost.tsx
  app/frontend/src/Pages/HomePage/HomePage.module.scss
  app/frontend/src/Pages/HomePage/HomePage.tsx
Labels: Priority: Medium, Type: Enhancement, Status: Done, Team: Frontend

#1091 Followed games are not being recommended to users
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
Labels: Type: Bug, Team: Backend

#1094 Added Backend Unit Tests for Notification Service
  app/backend/src/test/java/com/app/gamereview/service/NotificationServiceTest.java
Labels: Type: Test, Team: Backend

#1078 Promoted Entities Component is Implemented
  app/frontend/src/Components/PromotedEntities/PromotedEntities.module.scss
  app/frontend/src/Components/PromotedEntities/PromotedEntities.tsx
  app/frontend/src/Pages/Achievement/Achievements.tsx
  app/frontend/src/Pages/CreateGroup/CreateGroup.tsx
  app/frontend/src/Pages/Games/Games.tsx
Labels: Priority: High, Type: Feature, Status: Done, Team: Frontend

#1093 Added Backend Character Unit Tests
  app/backend/src/test/java/com/app/gamereview/service/CharacterServiceTest.java
Labels: Type: Test, Team: Backend

#1097 annotation update endpoint bug fix
  app/annotation/annotation/src/main/java/com/app/annotation/service/AnnotationService.java
Labels: Priority: Medium, Type: Bug, Status: In Review, Team: Backend

#1069 Group Application Form is Added
  app/frontend/src/Components/Groups/PrivateGroup.tsx
  app/frontend/src/Pages/ApplyGroup/ApplyGroup.module.scss
  app/frontend/src/Pages/ApplyGroup/ApplyGroup.tsx
  app/frontend/src/Services/group.ts
  app/frontend/src/router.tsx
Labels: Priority: Medium, Type: Feature, Status: Done, Team: Frontend

#1098 Frontend Text Annotation Refactor
  app/frontend/src/Components/GameDetails/Summary/Summary.tsx
  app/frontend/src/Components/LastActivities/LastActivities.tsx
  app/frontend/src/Components/Profile/EditProfile.tsx
  app/frontend/src/Pages/Admin/Game/UpdateGame/UpdateGame.tsx
  app/frontend/src/Pages/ForumPost/ForumPost.module.scss
  app/frontend/src/Pages/ForumPost/ForumPost.tsx
  app/frontend/src/Pages/GameDetails/GameDetails.tsx
  app/frontend/src/Pages/Group/Group.tsx
Labels: Priority: High, Type: Enhancement, Status: Done, Team: Frontend

#1105 Mobile/character
  app/mobile/Assets/Prefabs/CharacterDetails.prefab
  app/mobile/Assets/Prefabs/CharacterDetails.prefab.meta
  app/mobile/Assets/Prefabs/CharacterPage.prefab
  app/mobile/Assets/Prefabs/CharacterPage.prefab.meta
  app/mobile/Assets/Prefabs/CommentComments.prefab
  app/mobile/Assets/Prefabs/CreateCharacter.prefab
  app/mobile/Assets/Prefabs/CreateCharacter.prefab.meta
  app/mobile/Assets/Prefabs/CreateEditPost.prefab
  app/mobile/Assets/Prefabs/GameDetailsPage.prefab
  app/mobile/Assets/Prefabs/PostComments.prefab
  app/mobile/Assets/Resources/Prefabs/Character.prefab
  app/mobile/Assets/Resources/Prefabs/Character.prefab.meta
  app/mobile/Assets/Scripts/CharacterRequests.meta
  app/mobile/Assets/Scripts/CharacterRequests/Character.cs
  app/mobile/Assets/Scripts/CharacterRequests/Character.cs.meta
  app/mobile/Assets/Scripts/CharacterRequests/CharacterDetails.cs
  app/mobile/Assets/Scripts/CharacterRequests/CharacterDetails.cs.meta
  app/mobile/Assets/Scripts/CharacterRequests/CharactersPage.cs
  app/mobile/Assets/Scripts/CharacterRequests/CharactersPage.cs.meta
  app/mobile/Assets/Scripts/CharacterRequests/CreateCharacter.cs
  app/mobile/Assets/Scripts/CharacterRequests/CreateCharacter.cs.meta
  app/mobile/Assets/Scripts/Controllers/CharacterController.cs
  app/mobile/Assets/Scripts/Controllers/CharacterController.cs.meta
  app/mobile/Assets/Scripts/Controllers/HomeController.cs
  app/mobile/Assets/Scripts/Controllers/PostController.cs
  app/mobile/Assets/Scripts/GameRequests/GameDetails.cs
  app/mobile/Assets/Scripts/GroupRequests/GroupDetails.cs
  app/mobile/Assets/Scripts/PostRequests/ForumCreatePost.cs
  app/mobile/Assets/Scripts/PostRequests/ForumPostComments.cs
  app/mobile/Assets/Scripts/Utilities/CanvasManager.cs
Labels: Priority: High, Type: Enhancement, Status: In Review, Team: Mobile

#1106 Fix referance issue
  app/mobile/Assets/Resources/Prefabs/HomePage.prefab
  app/mobile/Assets/Scenes/Main.unity
  app/mobile/Assets/Scripts/GameRequests/GameDetails.cs
  app/mobile/Assets/Scripts/GroupRequests/GroupDetails.cs
  app/mobile/Assets/Scripts/HomeRequests/HomePage.cs
  app/mobile/Assets/Scripts/HomeRequests/HomeScreen.cs
  app/mobile/Assets/Scripts/Utilities/CanvasManager.cs
Labels: Priority: High, Type: Feature, Team: Mobile

#1107 configured annotation cors config
  app/annotation/annotation/src/main/java/com/app/annotation/config/CorsConfig.java
Labels: Priority: Medium, Status: In Review, Team: Backend

#1087 Notification Additions
  app/frontend/src/Components/Notification/Notification.module.scss
  app/frontend/src/Components/Notification/Notification.tsx
  app/frontend/src/Pages/Notifications/Notifications.module.scss
  app/frontend/src/Pages/Notifications/Notifications.tsx
Labels: Priority: High, Type: Enhancement, Status: In Review, Team: Frontend

#1108 Mobile/update UI
  app/mobile/Assets/Prefabs/Groups.prefab
  app/mobile/Assets/Prefabs/Profile.prefab
  app/mobile/Assets/Resources/Prefabs/GroupPage.prefab
  app/mobile/Assets/Resources/Prefabs/HomePage.prefab
  app/mobile/Assets/Scenes/Main.unity
  app/mobile/Assets/Scripts/Controllers/GroupController.cs
  app/mobile/Assets/Scripts/Controllers/PostController.cs
  app/mobile/Assets/Scripts/GameRequests/CreateGame.cs
  app/mobile/Assets/Scripts/GroupRequests/GetAllGroups.cs
  app/mobile/Assets/Scripts/GroupRequests/GroupPage.cs
  app/mobile/Assets/Scripts/HomeRequests/HomePage.cs
  app/mobile/Assets/Scripts/PostRequests/ForumPost.cs
  app/mobile/Assets/Scripts/PostRequests/ForumPostComments.cs
  app/mobile/Assets/Scripts/ProfileRequests/GetProfile.cs
  app/mobile/Assets/Scripts/Utilities/CLFZ.cs
  app/mobile/Assets/Scripts/Utilities/CLFZ.cs.meta
  app/mobile/Assets/Scripts/Utilities/CanvasManager.cs
Labels: Priority: High, Type: Feature

#1099 Frontend Image annotation Implementation
  app/frontend/package.json
  app/frontend/pnpm-lock.yaml
  app/frontend/src/Library/utils/handleError.ts
  app/frontend/src/Pages/ForumPost/ForumPost.module.scss
  app/frontend/src/Pages/ForumPost/ForumPost.tsx
  app/frontend/src/Pages/GameDetails/GameDetails.module.scss
  app/frontend/src/Pages/GameDetails/GameDetails.tsx
Labels: Priority: Critical, Type: Feature, Status: Done, Team: Frontend

#1101 Replace Message With Notification Util - Forgotten Ones
  app/frontend/src/Library/utils/handleError.ts
Labels: Priority: Low, Type: Enhancement, Status: Done, Team: Frontend

#1103 Fix review posting
  app/frontend/src/Components/GameDetails/Review/Reviews.tsx
Labels: Priority: Medium, Type: Bug, Status: Done, Team: Frontend

#1104 Group leave/join/apply
  app/frontend/src/Components/Groups/PrivateGroup.tsx
  app/frontend/src/Pages/Group/Group.module.scss
  app/frontend/src/Pages/Group/Group.tsx
Labels: Priority: Medium, Type: Bug, Status: Done, Team: Frontend

#1110 Mobile/character
  app/mobile/Assets/Prefabs/AdminControlPanel.prefab
  app/mobile/Assets/Prefabs/CharacterDetails.prefab
  app/mobile/Assets/Prefabs/CreateCharacter.prefab
  app/mobile/Assets/Prefabs/CreateGame.prefab
  app/mobile/Assets/Scripts/AdminControlPanelScript.cs
  app/mobile/Assets/Scripts/CharacterRequests/CharacterDetails.cs
  app/mobile/Assets/Scripts/CharacterRequests/CharactersPage.cs
  app/mobile/Assets/Scripts/CharacterRequests/CreateCharacter.cs
  app/mobile/Assets/Scripts/GameRequests/CreateGame.cs
  app/mobile/Assets/Scripts/Utilities/CanvasManager.cs
Labels: Priority: High, Type: Enhancement, Status: In Review, Team: Mobile

#1109 Fix edit profile image bug
  app/mobile/Assets/Prefabs/Achievement.prefab
  app/mobile/Assets/Prefabs/EditProfile.prefab
  app/mobile/Assets/Prefabs/Profile.prefab
  app/mobile/Assets/Prefabs/ResentActivities.prefab
  app/mobile/Assets/ProfileItem.cs
  app/mobile/Assets/ProfileItem.cs.meta
  app/mobile/Assets/RecentActivities.cs
  app/mobile/Assets/Resources/Prefabs/GroupPage.prefab
  app/mobile/Assets/Resources/Prefabs/ProfileItem.prefab
  app/mobile/Assets/Resources/Prefabs/ProfileItem.prefab.meta
  app/mobile/Assets/Scenes/Main.unity
  app/mobile/Assets/Scripts/Controllers/ProfileController.cs
  app/mobile/Assets/Scripts/GameRequests/CreateGame.cs
  app/mobile/Assets/Scripts/GroupRequests/GroupPage.cs
  app/mobile/Assets/Scripts/HomeRequests/HomePage.cs
  app/mobile/Assets/Scripts/ProfileRequests/EditProfile.cs
  app/mobile/Assets/Scripts/ProfileRequests/GetProfile.cs
  app/mobile/Assets/Scripts/ProfileRequests/ProfileActivities.cs
  app/mobile/Assets/Scripts/Utilities/CanvasManager.cs
Labels: Priority: High, Type: Feature, Team: Mobile

#1112 Improvements on game recommendation system
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
Labels: Type: Enhancement, Type: Bug, Status: Done, Team: Backend

#1114 Fixed the game service test
  app/backend/src/test/java/com/app/gamereview/service/GameServiceTest.java
Labels: Type: Bug, Team: Backend

#1111 Forum Detail Visual Improvements
  app/frontend/src/Pages/ForumPost/ForumPost.module.scss
  app/frontend/src/Pages/ForumPost/ForumPost.tsx
  app/frontend/src/_colors.scss
Labels: Type: Enhancement, Status: Done, Team: Frontend

#1121 Mobile/update UI
  app/mobile/Assets/Prefabs/GameDetailsPage.prefab
  app/mobile/Assets/Prefabs/Profile.prefab
  app/mobile/Assets/Resources/Prefabs/ForumPostNew.prefab
  app/mobile/Assets/Resources/Prefabs/ForumPostNew.prefab.meta
  app/mobile/Assets/Scripts/GameRequests/GameDetails.cs
  app/mobile/Assets/Scripts/PostRequests/ForumGetPostList.cs
  app/mobile/Assets/Scripts/Utilities/CanvasManager.cs
  app/mobile/Assets/Sprites/close.png
  app/mobile/Assets/Sprites/close.png.meta
Labels: Priority: High, Type: Feature, Team: Mobile

#1120 Add Condition While Reaching User Properties
  app/frontend/src/Components/Comment/Comment/Comment.tsx
  app/frontend/src/Components/Comment/Reply/Reply.tsx
  app/frontend/src/Pages/ForumPost/ForumPost.tsx
Labels: Priority: Medium, Type: Bug, Status: Done, Team: Frontend

#1119 Default group image is added
  app/frontend/src/Components/ReccomendationCarousel/RecommendationItem/RecommendationItem.tsx
Labels: Priority: Low, Type: Enhancement, Status: Done, Team: Frontend

#1122 Update forum post ui
  app/mobile/Assets/Resources/Prefabs/ForumPostNew.prefab
  app/mobile/Assets/Scripts/Controllers/PostController.cs
  app/mobile/Assets/Scripts/PostRequests/ForumPost.cs
  app/mobile/Assets/Scripts/PostRequests/ForumPostComments.cs
  app/mobile/Assets/Scripts/PostRequests/ForumPostDetail.cs
Labels: Priority: High, Type: Feature, Team: Mobile

#1124 Promoted posts are implemented
  app/frontend/src/Components/PromotedEntities/PromotedPost.module.scss
  app/frontend/src/Components/PromotedEntities/PromotedPosts.tsx
  app/frontend/src/Pages/HomePage/HomePage.tsx
Labels: Priority: Critical, Type: Feature, Team: Frontend

#1123 Buttons updated
  app/mobile/Assets/Prefabs/GameDetailsPage.prefab
  app/mobile/Assets/Prefabs/GroupDetailsPage.prefab
  app/mobile/Assets/Prefabs/PostComments.prefab
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Mobile

#1125 Mobile/forum redesign
  app/mobile/Assets/Scripts/CommentRequests/CommentBox.cs
  app/mobile/Assets/Scripts/GameRequests/GameScreen.cs
  app/mobile/Assets/Scripts/PostRequests/ForumCreatePost.cs
  app/mobile/Assets/Scripts/PostRequests/ForumPost.cs
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Mobile

#1126 Update game detail review page
  app/mobile/Assets/Prefabs/GameDetailsPage.prefab
  app/mobile/Assets/Resources/Prefabs/GameReviewNew.prefab
  app/mobile/Assets/Resources/Prefabs/GameReviewNew.prefab.meta
  app/mobile/Assets/Scenes/Main.unity
  app/mobile/Assets/Scripts/ReviewRequests/GetAllReviews.cs
Labels: Priority: High, Type: Feature, Team: Mobile
