Repository bounswe/bounswe2023group5, pull requests merged in 2023-11, with the labels that each got.

#627 Mobile README added
  app/mobile/README.md
Labels: Priority: High, Status: In Progress, Type: Documentation, Team: Mobile

#653 Backend/validation implementation
  app/backend/pom.xml
  app/backend/src/main/java/com/app/gamereview/config/JwtInterceptor.java
  app/backend/src/main/java/com/app/gamereview/controller/AuthController.java
  app/backend/src/main/java/com/app/gamereview/controller/CustomExceptionHandler.java
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/controller/SampleController.java
  app/backend/src/main/java/com/app/gamereview/controller/TagController.java
  app/backend/src/main/java/com/app/gamereview/controller/UserController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/ChangeUserPasswordRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/ForgotChangeUserPasswordRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/ForgotPasswordRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/LoginUserRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/RegisterUserRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/VerifyResetCodeRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/auth/ChangeUserPasswordRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/auth/ForgotChangeUserPasswordRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/auth/ForgotPasswordRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/auth/LoginUserRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/auth/RegisterUserRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/auth/VerifyResetCodeRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/game/GetGameListRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/tag/AddGameTagRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/tag/CreateTagRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/tag/GetAllTagsFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/tag/UpdateTagRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/user/GetAllUsersFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/auth/LoginUserResponseDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/game/GameDetailResponseDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/game/GetGameListResponseDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/user/UserResponseDto.java
  app/backend/src/main/java/com/app/gamereview/model/SampleModel.java
  app/backend/src/main/java/com/app/gamereview/service/AuthService.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
  app/backend/src/main/java/com/app/gamereview/service/UserService.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/AuthorizationRequired.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/ValidTagType.java
  app/backend/src/main/java/com/app/gamereview/util/validation/validator/TagTypeValidator.java
  app/backend/src/test/java/com/app/gamereview/service/AuthServiceTest.java
  app/backend/src/test/java/com/app/gamereview/service/UserServiceTests.java
  app/backend/src/test/java/com/app/gamereview/services/GameServiceTest.java
  app/backend/target/classes/application.properties
  app/backend/target/classes/com/app/gamereview/GamereviewApplication.class
  app/backend/target/classes/com/app/gamereview/controller/SampleController.class
  app/backend/target/classes/com/app/gamereview/model/SampleModel.class
Labels: Type: Enhancement, Type: Feature, Team: Backend

#654 tags are kept as ids instead - fix
  app/backend/src/main/java/com/app/gamereview/dto/response/tag/GetAllTagsOfGameResponseDto.java
  app/backend/src/main/java/com/app/gamereview/model/Game.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
Labels: Type: Bug, Team: Backend

#655 implemented game review functionality
  app/backend/src/main/java/com/app/gamereview/controller/ReviewController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/review/CreateReviewRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/review/GetAllReviewsFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/review/UpdateReviewRequestDto.java
  app/backend/src/main/java/com/app/gamereview/model/Game.java
  app/backend/src/main/java/com/app/gamereview/model/Review.java
  app/backend/src/main/java/com/app/gamereview/model/common/BaseModel.java
  app/backend/src/main/java/com/app/gamereview/repository/ReviewRepository.java
  app/backend/src/main/java/com/app/gamereview/service/ReviewService.java
Labels: Type: Feature, Team: Backend

#656 Voting Implementation - BE
  app/backend/src/main/java/com/app/gamereview/controller/TagController.java
  app/backend/src/main/java/com/app/gamereview/controller/VoteController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/tag/GetAllTagsFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/vote/CreateVoteRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/vote/GetAllVotesFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/enums/VoteChoice.java
  app/backend/src/main/java/com/app/gamereview/enums/VoteType.java
  app/backend/src/main/java/com/app/gamereview/model/Review.java
  app/backend/src/main/java/com/app/gamereview/model/Vote.java
  app/backend/src/main/java/com/app/gamereview/repository/VoteRepository.java
  app/backend/src/main/java/com/app/gamereview/service/TagService.java
  app/backend/src/main/java/com/app/gamereview/service/VoteService.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/ValidVoteChoice.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/ValidVoteType.java
  app/backend/src/main/java/com/app/gamereview/util/validation/validator/VoteChoiceValidator.java
  app/backend/src/main/java/com/app/gamereview/util/validation/validator/VoteTypeValidator.java
Labels: Type: Enhancement, Type: Feature, Team: Backend

#659 modified tests according to password hashing
  app/backend/src/main/java/com/app/gamereview/service/AuthService.java
  app/backend/src/main/java/com/app/gamereview/util/JwtUtil.java
  app/backend/src/test/java/com/app/gamereview/service/AuthServiceTest.java
Labels: Type: Bug, Type: Test, Team: Backend

#658 Backend/forum post
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/controller/PostController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/auth/RegisterUserRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/auth/VerifyResetCodeRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/game/CreateGameRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/post/CreatePostRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/post/EditPostRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/post/GetPostListFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostListResponseDto.java
  app/backend/src/main/java/com/app/gamereview/enums/ForumType.java
  app/backend/src/main/java/com/app/gamereview/enums/SortDirection.java
  app/backend/src/main/java/com/app/gamereview/enums/SortType.java
  app/backend/src/main/java/com/app/gamereview/model/Forum.java
  app/backend/src/main/java/com/app/gamereview/model/Game.java
  app/backend/src/main/java/com/app/gamereview/model/Post.java
  app/backend/src/main/java/com/app/gamereview/repository/ForumRepository.java
  app/backend/src/main/java/com/app/gamereview/repository/PostRepository.java
  app/backend/src/main/java/com/app/gamereview/repository/TagRepository.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
  app/backend/src/main/java/com/app/gamereview/service/VoteService.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/ValidSortDirection.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/ValidSortType.java
  app/backend/src/main/java/com/app/gamereview/util/validation/validator/SortDirectionValidator.java
  app/backend/src/main/java/com/app/gamereview/util/validation/validator/SortTypeValidator.java
Labels: Priority: High

#661 objects as query param fix
  app/backend/src/main/java/com/app/gamereview/controller/PostController.java
  app/backend/src/main/java/com/app/gamereview/controller/ReviewController.java
  app/backend/src/main/java/com/app/gamereview/controller/TagController.java
  app/backend/src/main/java/com/app/gamereview/controller/UserController.java
  app/backend/src/main/java/com/app/gamereview/controller/VoteController.java
Labels: Type: Enhancement, Team: Backend

#662 added filtering by forum to get-post-list endpoint
  app/backend/src/main/java/com/app/gamereview/controller/PostController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/post/GetPostListFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/ValidSortDirection.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/ValidSortType.java
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Backend

#665 Get reviews return username
  app/backend/src/main/java/com/app/gamereview/controller/ReviewController.java
  app/backend/src/main/java/com/app/gamereview/dto/response/review/GetAllReviewsResponseDto.java
  app/backend/src/main/java/com/app/gamereview/service/ReviewService.java
Labels: Type: Enhancement, Team: Backend

#666 Merge main to CI/CD branch for deployment
  app/backend/src/main/java/com/app/gamereview/controller/ForumController.java
  app/backend/src/main/java/com/app/gamereview/controller/PostController.java
  app/backend/src/main/java/com/app/gamereview/controller/ReviewController.java
  app/backend/src/main/java/com/app/gamereview/controller/TagController.java
  app/backend/src/main/java/com/app/gamereview/controller/UserController.java
  app/backend/src/main/java/com/app/gamereview/controller/VoteController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/post/GetPostListFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/review/GetAllReviewsResponseDto.java
  app/backend/src/main/java/com/app/gamereview/model/Forum.java
  app/backend/src/main/java/com/app/gamereview/service/ForumService.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
  app/backend/src/main/java/com/app/gamereview/service/ReviewService.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/ValidSortDirection.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/ValidSortType.java
Labels: Team: Backend

#667 createdAt field is added to response dto of reviews
  app/backend/src/main/java/com/app/gamereview/dto/response/review/GetAllReviewsResponseDto.java
Labels: Type: Bug, Team: Backend

#672 get-post-list now returns user object rather than just id
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostListResponseDto.java
  app/backend/src/main/java/com/app/gamereview/repository/UserRepository.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Backend

#673 Backend/forum Comment Feature is Implemented
  app/backend/src/main/java/com/app/gamereview/controller/CommentController.java
  app/backend/src/main/java/com/app/gamereview/controller/PostController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/comment/CreateCommentRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/comment/EditCommentRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/comment/ReplyCommentRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/comment/CommentReplyResponseDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/comment/GetPostCommentsResponseDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostListResponseDto.java
  app/backend/src/main/java/com/app/gamereview/model/Comment.java
  app/backend/src/main/java/com/app/gamereview/model/Post.java
  app/backend/src/main/java/com/app/gamereview/repository/CommentRepository.java
  app/backend/src/main/java/com/app/gamereview/service/CommentService.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
  app/backend/src/main/java/com/app/gamereview/service/VoteService.java
Labels: Priority: Critical, Type: Feature, Status: In Review, Team: Backend

#675 Frontend admin page
  app/frontend/package.json
  app/frontend/pnpm-lock.yaml
  app/frontend/src/Components/MultipleSelect/MultipleSelect.tsx
  app/frontend/src/Components/SingleSelect/SingleSelect.tsx
  app/frontend/src/Layout/TopBar/TopBar.tsx
  app/frontend/src/Pages/Admin/Game/CreateGame/CreateGame.module.scss
  app/frontend/src/Pages/Admin/Game/CreateGame/CreateGame.tsx
  app/frontend/src/Pages/Admin/Main/Main.module.scss
  app/frontend/src/Pages/Admin/Main/Main.tsx
  app/frontend/src/Pages/Admin/Tag/CreateTag/CreateTag.module.scss
  app/frontend/src/Pages/Admin/Tag/CreateTag/CreateTag.tsx
  app/frontend/src/Pages/Admin/Tag/DeleteTag/DeleteTag.module.scss
  app/frontend/src/Pages/Admin/Tag/DeleteTag/DeleteTag.tsx
  app/frontend/src/Pages/Admin/Tag/UpdateTag/UpdateTag.module.scss
  app/frontend/src/Pages/Admin/Tag/UpdateTag/UpdateTag.tsx
  app/frontend/src/Pages/Games/Games.tsx
  app/frontend/src/Services/Register.ts
  app/frontend/src/Services/gamedetail.ts
  app/frontend/src/Services/games.ts
  app/frontend/src/Services/me.ts
  app/frontend/src/Services/tags.ts
  app/frontend/src/router.tsx
Labels: Priority: High, Type: Feature, Status: Done, Team: Frontend

#676 Frontend/forum
  app/frontend/src/Components/Forum/Forum.module.scss
  app/frontend/src/Components/Forum/Forum.tsx
  app/frontend/src/Components/Forum/ForumPost/ForumPost.module.scss
  app/frontend/src/Components/Forum/ForumPost/ForumPost.tsx
  app/frontend/src/Components/Hooks/useVote.tsx
  app/frontend/src/Library/utils/formatDate.ts
  app/frontend/src/Pages/ForumPost/ForumPost.module.scss
  app/frontend/src/Pages/ForumPost/ForumPost.tsx
  app/frontend/src/Pages/ForumPostForm/ForumPostForm.module.scss
  app/frontend/src/Pages/ForumPostForm/ForumPostForm.tsx
  app/frontend/src/Pages/GameDetails/GameDetails.tsx
  app/frontend/src/Services/forum.ts
  app/frontend/src/Services/vote.tsx
  app/frontend/src/router.tsx
Labels: Priority: High, Type: Feature, Status: Done, Team: Frontend

#687 Created comment controllers
  app/mobile/Assets/Scripts/Controllers/CommentController.cs
  app/mobile/Assets/Scripts/Controllers/CommentController.cs.meta
  app/mobile/Assets/Scripts/ForumCreateComment.cs
  app/mobile/Assets/Scripts/ForumCreateComment.cs.meta
Labels: Priority: High, Status: Done, Team: Mobile

#691 Mobile forum page
  app/mobile/Assets/Prefabs/Forum.prefab
  app/mobile/Assets/Prefabs/GameDetailsPage.prefab
  app/mobile/Assets/Resources/Prefabs/ForumPage.prefab
  app/mobile/Assets/Resources/Prefabs/ForumPage.prefab.meta
  app/mobile/Assets/Scripts/Controllers/ForumController.cs
  app/mobile/Assets/Scripts/Controllers/ForumController.cs.meta
  app/mobile/Assets/Scripts/ForumPage.cs
  app/mobile/Assets/Scripts/ForumPage.cs.meta
  app/mobile/Assets/Scripts/ForumScreen.cs
  app/mobile/Assets/Scripts/ForumScreen.cs.meta
  app/mobile/Assets/Scripts/GameDetails.cs
  app/mobile/Assets/Scripts/SummaryManager.cs
Labels: Priority: High, Type: Feature, Status: Done, Team: Mobile

#678 Frontend forum admin
  app/frontend/src/Components/Forum/ForumPost/ForumPost.module.scss
  app/frontend/src/Components/Forum/ForumPost/ForumPost.tsx
  app/frontend/src/Services/forum.ts
Labels: Priority: High, Type: Feature, Status: Done, Team: Frontend

#726 Reviewed and edited controllers
  app/mobile/Assets/Scripts/Controllers/AuthController.cs
  app/mobile/Assets/Scripts/Controllers/CommentController.cs
  app/mobile/Assets/Scripts/Controllers/ForumController.cs
  app/mobile/Assets/Scripts/Controllers/GameController.cs
  app/mobile/Assets/Scripts/Controllers/PostController.cs
  app/mobile/Assets/Scripts/Controllers/ReviewController.cs
  app/mobile/Assets/Scripts/Controllers/TagController.cs
  app/mobile/Assets/Scripts/Controllers/UserController.cs
  app/mobile/Assets/Scripts/Controllers/VoteController.cs
Labels: Priority: High, Type: Enhancement, Status: In Review, Team: Mobile

#729 get-post-list and get-post-detail improvements
  app/backend/src/main/java/com/app/gamereview/controller/PostController.java
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostDetailResponseDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostListResponseDto.java
  app/backend/src/main/java/com/app/gamereview/repository/UserRepository.java
  app/backend/src/main/java/com/app/gamereview/repository/VoteRepository.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
Labels: Priority: Low, Type: Enhancement, Status: In Review, Team: Backend

#727 Adding Request Functions For Review Controller Endpoints
  app/mobile/Assets/Prefabs/GameDetailsPage.prefab
  app/mobile/Assets/Scripts/Controllers/GameController.cs
  app/mobile/Assets/Scripts/Controllers/ReviewController.cs
  app/mobile/Assets/Scripts/CreateGame.cs
  app/mobile/Assets/Scripts/DeleteAccount.cs
  app/mobile/Assets/Scripts/ForumScreen.cs
  app/mobile/Assets/Scripts/GameDetails.cs
  app/mobile/Assets/Scripts/GameScreen.cs
  app/mobile/Assets/Scripts/ReviewRequests/CreateReview.cs
  app/mobile/Assets/Scripts/ReviewRequests/CreateReview.cs.meta
  app/mobile/Assets/Scripts/ReviewRequests/DeleteReview.cs
  app/mobile/Assets/Scripts/ReviewRequests/DeleteReview.cs.meta
  app/mobile/Assets/Scripts/ReviewRequests/GetAllReviews.cs
  app/mobile/Assets/Scripts/ReviewRequests/GetAllReviews.cs.meta
  app/mobile/Assets/Scripts/ReviewRequests/GetReview.cs
  app/mobile/Assets/Scripts/ReviewRequests/GetReview.cs.meta
  app/mobile/Assets/Scripts/ReviewRequests/UpdateReview.cs
  app/mobile/Assets/Scripts/ReviewRequests/UpdateReview.cs.meta
Labels: Priority: High, Status: In Review, Team: Mobile

#730 Review improvements fixes
  app/backend/src/main/java/com/app/gamereview/controller/ReviewController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/post/GetPostListFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/review/GetAllReviewsFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/review/GetAllReviewsResponseDto.java
  app/backend/src/main/java/com/app/gamereview/repository/VoteRepository.java
  app/backend/src/main/java/com/app/gamereview/service/ReviewService.java
Labels: Type: Enhancement, Team: Backend

#728 Add missing scripts for post controller endpoints
  app/mobile/Assets/Prefabs/Forum.prefab
  app/mobile/Assets/Prefabs/GameDetailsPage.prefab
  app/mobile/Assets/Prefabs/Games.prefab
  app/mobile/Assets/Resources/Prefabs/ForumPost.prefab
  app/mobile/Assets/Resources/Prefabs/ForumPost.prefab.meta
  app/mobile/Assets/Scenes/Main.unity
  app/mobile/Assets/Scripts/Controllers/GameController.cs
  app/mobile/Assets/Scripts/DeleteAccount.cs
  app/mobile/Assets/Scripts/Examples.meta
  app/mobile/Assets/Scripts/Examples/GetPostRequestDemo.cs
  app/mobile/Assets/Scripts/Examples/GetPostRequestDemo.cs.meta
  app/mobile/Assets/Scripts/ForumCreatePost.cs
  app/mobile/Assets/Scripts/GameDetails.cs
  app/mobile/Assets/Scripts/GameScreen.cs
  app/mobile/Assets/Scripts/PostRequests.meta
  app/mobile/Assets/Scripts/PostRequests/ForumCreatePost.cs
  app/mobile/Assets/Scripts/PostRequests/ForumCreatePost.cs.meta
  app/mobile/Assets/Scripts/PostRequests/ForumDeletePost.cs
  app/mobile/Assets/Scripts/PostRequests/ForumDeletePost.cs.meta
  app/mobile/Assets/Scripts/PostRequests/ForumEditPost.cs
  app/mobile/Assets/Scripts/PostRequests/ForumEditPost.cs.meta
  app/mobile/Assets/Scripts/PostRequests/ForumGetPostList.cs
  app/mobile/Assets/Scripts/PostRequests/ForumGetPostList.cs.meta
  app/mobile/Assets/Scripts/PostRequests/ForumPost.cs
  app/mobile/Assets/Scripts/PostRequests/ForumPost.cs.meta
  app/mobile/Assets/Scripts/PostRequests/ForumPostComments.cs
  app/mobile/Assets/Scripts/PostRequests/ForumPostComments.cs.meta
  app/mobile/Assets/Scripts/PostRequests/ForumPostDetail.cs
  app/mobile/Assets/Scripts/PostRequests/ForumPostDetail.cs.meta
  app/mobile/Assets/Scripts/ReviewRequests.meta
  app/mobile/Assets/Scripts/ReviewRequests/GetAllReviews.cs
  app/mobile/Assets/Scripts/Utilities.meta
  app/mobile/Assets/Scripts/Utilities/ListToQueryParameters.cs
  app/mobile/Assets/Scripts/Utilities/ListToQueryParameters.cs.meta
Labels: Priority: High, Status: In Review, Team: Mobile

#732 Get game improvements and additions
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/game/GetGameListRequestDto.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
Labels: Type: Enhancement, Type: Feature, Team: Backend

#734 same tag was being added to game - fixed
  app/backend/src/main/java/com/app/gamereview/model/Game.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
Labels: Type: Bug, Team: Backend

#737 Mobile/game controller endpoints
  app/mobile/Assets/Prefabs/CreateGame.prefab
  app/mobile/Assets/Scripts/Controllers/GameController.cs
  app/mobile/Assets/Scripts/CreateGame.cs
  app/mobile/Assets/Scripts/GameDetails.cs
  app/mobile/Assets/Scripts/GameRequests.meta
  app/mobile/Assets/Scripts/GameRequests/GETGetGameList.cs
  app/mobile/Assets/Scripts/GameRequests/GETGetGameList.cs.meta
  app/mobile/Assets/Scripts/GameRequests/GameAddTag.cs
  app/mobile/Assets/Scripts/GameRequests/GameAddTag.cs.meta
  app/mobile/Assets/Scripts/GameRequests/GameByName.cs
  app/mobile/Assets/Scripts/GameRequests/GameByName.cs.meta
  app/mobile/Assets/Scripts/GameRequests/GameGetAllTags.cs
  app/mobile/Assets/Scripts/GameRequests/GameGetAllTags.cs.meta
  app/mobile/Assets/Scripts/GameRequests/GetGame.cs
  app/mobile/Assets/Scripts/GameRequests/GetGame.cs.meta
Labels: Priority: High, Type: Enhancement, Status: In Review, Team: Mobile

#741 bugfix on tag type validator
  app/backend/src/main/java/com/app/gamereview/dto/request/tag/UpdateTagRequestDto.java
Labels: Type: Bug, Team: Backend

#740 group implementation (get-all, get, create)
  app/backend/src/main/java/com/app/gamereview/controller/GroupController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/group/CreateGroupRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/group/GetAllGroupsFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/enums/MembershipPolicy.java
  app/backend/src/main/java/com/app/gamereview/enums/SortType.java
  app/backend/src/main/java/com/app/gamereview/model/Group.java
  app/backend/src/main/java/com/app/gamereview/repository/GameRepository.java
  app/backend/src/main/java/com/app/gamereview/repository/GroupRepository.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/ValidMemberPolicy.java
  app/backend/src/main/java/com/app/gamereview/util/validation/validator/MemberPolicyValidator.java
Labels: Type: Feature, Team: Backend

#745 Mobile admin control panel
  app/mobile/Assets/Prefabs/AdminControlPanel.prefab
  app/mobile/Assets/Prefabs/AdminControlPanel.prefab.meta
  app/mobile/Assets/Prefabs/AdminControlPanelButton.prefab
  app/mobile/Assets/Prefabs/AdminControlPanelButton.prefab.meta
  app/mobile/Assets/Prefabs/AdminControlPanelButtonGroups.prefab
  app/mobile/Assets/Prefabs/AdminControlPanelButtonGroups.prefab.meta
  app/mobile/Assets/Scripts/AdminControlPanelScript.cs
  app/mobile/Assets/Scripts/AdminControlPanelScript.cs.meta
  app/mobile/Assets/Scripts/CanvasManager.cs
Labels: Priority: High, Type: Feature, Status: In Review, Team: Mobile

#744 Mobile/tag controller endpoints
  app/mobile/Assets/Scripts/Controllers/TagController.cs
  app/mobile/Assets/Scripts/TagRequests.meta
  app/mobile/Assets/Scripts/TagRequests/CreateTag.cs
  app/mobile/Assets/Scripts/TagRequests/CreateTag.cs.meta
  app/mobile/Assets/Scripts/TagRequests/DeleteTag.cs
  app/mobile/Assets/Scripts/TagRequests/DeleteTag.cs.meta
  app/mobile/Assets/Scripts/TagRequests/GetAllTags.cs
  app/mobile/Assets/Scripts/TagRequests/GetAllTags.cs.meta
  app/mobile/Assets/Scripts/TagRequests/GetTag.cs
  app/mobile/Assets/Scripts/TagRequests/GetTag.cs.meta
  app/mobile/Assets/Scripts/TagRequests/UpdateTag.cs
  app/mobile/Assets/Scripts/TagRequests/UpdateTag.cs.meta
Labels: Priority: High, Type: Enhancement, Status: In Review, Team: Mobile

#746 Tag operations implementation (game and group)
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/controller/GroupController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/game/AddGameTagRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/game/RemoveGameTagRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/group/AddGroupTagRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/group/RemoveGroupTagRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/tag/AddGroupTagResponseDto.java
  app/backend/src/main/java/com/app/gamereview/model/Game.java
  app/backend/src/main/java/com/app/gamereview/model/Group.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
Labels: Type: Feature, Status: Done, Team: Backend

#752 populated tags in get-post-detail and get-post-list endpoints
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostDetailResponseDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostListResponseDto.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Backend

#751 Backend/image upload
  app/backend/src/main/java/com/app/gamereview/controller/GameController.java
  app/backend/src/main/java/com/app/gamereview/controller/ImageController.java
  app/backend/src/main/java/com/app/gamereview/controller/PostController.java
  app/backend/src/main/java/com/app/gamereview/service/FileStorageService.java
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Backend

#753 Delete group implementation
  app/backend/src/main/java/com/app/gamereview/controller/GroupController.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
  app/backend/src/main/java/com/app/gamereview/util/UtilExtensions.java
Labels: Type: Feature, Status: Done, Team: Backend

#756 Mobile/admin related tag pages
  app/mobile/Assets/Prefabs/CreateTag.prefab
  app/mobile/Assets/Prefabs/CreateTag.prefab.meta
  app/mobile/Assets/Prefabs/CreateTagInputBlock.prefab
  app/mobile/Assets/Prefabs/CreateTagInputBlock.prefab.meta
  app/mobile/Assets/Prefabs/DeleteTag.prefab
  app/mobile/Assets/Prefabs/DeleteTag.prefab.meta
  app/mobile/Assets/Prefabs/Profile.prefab
  app/mobile/Assets/Prefabs/UpdateTag.prefab
  app/mobile/Assets/Prefabs/UpdateTag.prefab.meta
  app/mobile/Assets/Scripts/AdminControlPanelScript.cs
  app/mobile/Assets/Scripts/CanvasManager.cs
  app/mobile/Assets/Scripts/Controllers/TagController.cs
  app/mobile/Assets/Scripts/Login.cs
  app/mobile/Assets/Scripts/PersistenceManager.cs
  app/mobile/Assets/Scripts/ProfileScript.cs
  app/mobile/Assets/Scripts/ProfileScript.cs.meta
  app/mobile/Assets/Scripts/TagRequests/CreateTag.cs
  app/mobile/Assets/Scripts/TagRequests/DeleteTag.cs
  app/mobile/Assets/Scripts/TagRequests/UpdateTag.cs
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Mobile

#759 Created The Group Controller Script
  app/mobile/Assets/Scripts/Controllers/GroupController.cs
  app/mobile/Assets/Scripts/Controllers/GroupController.cs.meta
Labels: Priority: High, Type: Enhancement, Status: In Review, Team: Mobile

#762 tag is populated in the response dtos
  app/backend/src/main/java/com/app/gamereview/controller/GroupController.java
  app/backend/src/main/java/com/app/gamereview/dto/response/group/GetGroupResponseDto.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
Labels: Type: Bug, Team: Backend

#761 Frontend/forum report
  app/frontend/src/Components/Comment/Comment/Comment.tsx
  app/frontend/src/Components/Forum/Forum.tsx
  app/frontend/src/Components/Forum/ForumPost/ForumPost.module.scss
  app/frontend/src/Components/Forum/ForumPost/ForumPost.tsx
  app/frontend/src/Components/Game/Game.module.scss
  app/frontend/src/Pages/ForumPost/ForumPost.module.scss
  app/frontend/src/Pages/ForumPost/ForumPost.tsx
  app/frontend/src/Pages/ForumPostForm/ForumPostForm.tsx
  app/frontend/src/Pages/Games/Games.module.scss
  app/frontend/src/Pages/Games/Games.tsx
  app/frontend/src/Pages/Group/Group.module.scss
  app/frontend/src/Pages/Group/Group.tsx
  app/frontend/src/Services/group.ts
  app/frontend/src/Services/tags.ts
  app/frontend/src/router.tsx
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Frontend

#768 Id and createdAt fields are added to response dto of getGroup
  app/backend/src/main/java/com/app/gamereview/dto/response/group/GetGroupResponseDto.java
Labels: Type: Enhancement, Status: Done, Team: Backend

#765 Give Delete Review Functionality to Admins
  app/frontend/src/Components/Forum/ForumPost/ForumPost.module.scss
  app/frontend/src/Components/Forum/ForumPost/ForumPost.tsx
  app/frontend/src/Components/GameDetails/Review/Review.tsx
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Frontend

#771 Add Game Icon Field to Create Game Page
  app/frontend/src/Pages/Admin/Game/CreateGame/CreateGame.module.scss
  app/frontend/src/Pages/Admin/Game/CreateGame/CreateGame.tsx
  app/frontend/src/Services/games.ts
  app/frontend/src/Services/image.ts
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Frontend

#767 Add User agreement to Register
  app/frontend/src/Components/Forum/ForumPost/ForumPost.module.scss
  app/frontend/src/Components/Forum/ForumPost/ForumPost.tsx
  app/frontend/src/Pages/Register/Register.const.ts
  app/frontend/src/Pages/Register/Register.module.css
  app/frontend/src/Pages/Register/Register.tsx
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Frontend

#772 Image controller swagger fix
  app/backend/src/main/java/com/app/gamereview/controller/ImageController.java
Labels: Type: Bug, Status: Done, Team: Backend

#773 Created UserActions & Modified UserController & DeleteAccount
  app/mobile/Assets/Scripts/Controllers/UserActions.cs
  app/mobile/Assets/Scripts/Controllers/UserActions.cs.meta
  app/mobile/Assets/Scripts/Controllers/UserController.cs
  app/mobile/Assets/Scripts/DeleteAccount.cs
Labels: Priority: Medium, Status: In Review, Team: Mobile

#770 Frontend/group create
  app/frontend/src/Components/Comment/Comment/Comment.module.scss
  app/frontend/src/Components/Comment/Comment/Comment.tsx
  app/frontend/src/Pages/CreateGroup/CreateGroup.module.scss
  app/frontend/src/Pages/CreateGroup/CreateGroup.tsx
  app/frontend/src/Pages/Group/Group.tsx
  app/frontend/src/Services/group.ts
  app/frontend/src/router.tsx
Labels: Status: Done

#778 Group Creation Functionality Implementation - MOBILE
  app/mobile/Assets/Scripts/ForumRequests/GroupController.cs
  app/mobile/Assets/Scripts/GroupRequests.meta
  app/mobile/Assets/Scripts/GroupRequests/AddGroupModerator.cs
  app/mobile/Assets/Scripts/GroupRequests/AddGroupModerator.cs.meta
  app/mobile/Assets/Scripts/GroupRequests/AddGroupTag.cs
  app/mobile/Assets/Scripts/GroupRequests/AddGroupTag.cs.meta
  app/mobile/Assets/Scripts/GroupRequests/BanGroupUser.cs
  app/mobile/Assets/Scripts/GroupRequests/BanGroupUser.cs.meta
  app/mobile/Assets/Scripts/GroupRequests/CreateGroup.cs
  app/mobile/Assets/Scripts/GroupRequests/CreateGroup.cs.meta
  app/mobile/Assets/Scripts/GroupRequests/DeleteGroup.cs
  app/mobile/Assets/Scripts/GroupRequests/DeleteGroup.cs.meta
  app/mobile/Assets/Scripts/GroupRequests/GetAllGroups.cs
  app/mobile/Assets/Scripts/GroupRequests/GetAllGroups.cs.meta
  app/mobile/Assets/Scripts/GroupRequests/GetGroup.cs
  app/mobile/Assets/Scripts/GroupRequests/GetGroup.cs.meta
  app/mobile/Assets/Scripts/GroupRequests/JoinGroup.cs
  app/mobile/Assets/Scripts/GroupRequests/JoinGroup.cs.meta
  app/mobile/Assets/Scripts/GroupRequests/LeaveGroup.cs
  app/mobile/Assets/Scripts/GroupRequests/LeaveGroup.cs.meta
  app/mobile/Assets/Scripts/GroupRequests/RemoveGroupModerator.cs
  app/mobile/Assets/Scripts/GroupRequests/RemoveGroupModerator.cs.meta
  app/mobile/Assets/Scripts/GroupRequests/RemoveGroupTag.cs
  app/mobile/Assets/Scripts/GroupRequests/RemoveGroupTag.cs.meta
  app/mobile/Assets/Scripts/GroupRequests/UpdateGroup.cs
  app/mobile/Assets/Scripts/GroupRequests/UpdateGroup.cs.meta
  app/mobile/Assets/Scripts/Utilities/ListToQueryParameters.cs
Labels: Priority: High, Type: Feature, Status: In Review, Team: Mobile

#766 Add Ban User and Give Admin Permission Functionality -FE
  app/frontend/src/Pages/Admin/Main/Main.tsx
  app/frontend/src/Pages/Admin/User/BanUser/BanUser.module.scss
  app/frontend/src/Pages/Admin/User/BanUser/BanUser.tsx
  app/frontend/src/Pages/Admin/User/GiveAdminPermission/GiveAdminPermission.module.scss
  app/frontend/src/Pages/Admin/User/GiveAdminPermission/GiveAdminPermission.tsx
  app/frontend/src/Pages/ForgotPassword/EnterVerificationCodeForm.tsx
  app/frontend/src/Pages/Login/Login.tsx
  app/frontend/src/Pages/Register/Register.tsx
  app/frontend/src/Services/user.ts
  app/frontend/src/router.tsx
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Frontend

#809 Frontend/remove imports
  app/frontend/.eslintrc.cjs
  app/frontend/src/Components/Comment/Comment/Comment.tsx
  app/frontend/src/Components/Comment/CommentForm/CommentEditForm.tsx
  app/frontend/src/Components/Comment/CommentForm/CommentForm.tsx
  app/frontend/src/Components/Comment/Reply/Reply.tsx
  app/frontend/src/Components/Comment/ReplyForm/ReplyForm.tsx
  app/frontend/src/Components/Forum/ForumPost/ForumPost.tsx
  app/frontend/src/Components/Hooks/useVote.tsx
  app/frontend/src/Library/utils/formatDate.ts
  app/frontend/src/Library/utils/isEmpty.ts
  app/frontend/src/Pages/Admin/Game/CreateGame/CreateGame.tsx
  app/frontend/src/Pages/CreateGroup/CreateGroup.tsx
  app/frontend/src/Pages/ForumPost/ForumPost.tsx
  app/frontend/src/Pages/Group/Group.tsx
  app/frontend/src/Services/comment.ts
  app/frontend/src/Services/group.ts
  app/frontend/src/Services/groups.ts
  app/frontend/src/Services/review.ts
  app/frontend/src/router.tsx
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Frontend

#819 changed other eslint rules
  app/frontend/.eslintrc.cjs
  app/frontend/Dockerfile
  app/frontend/package.json
  app/frontend/src/Components/Comment/Reply/Reply.tsx
  app/frontend/src/Components/Groups/PrivateGroup.tsx
  app/frontend/src/Components/Groups/PublicGroup.tsx
  app/frontend/src/Components/Hooks/useAuth.tsx
Labels: Priority: High, Type: Bug, Status: In Review, Team: Frontend

#824 Created Groups Page
  app/mobile/Assets/Prefabs/Groups.prefab
  app/mobile/Assets/Prefabs/Groups.prefab.meta
  app/mobile/Assets/Resources/Prefabs/GroupPage.prefab
  app/mobile/Assets/Resources/Prefabs/GroupPage.prefab.meta
  app/mobile/Assets/Scripts/ForumRequests/GroupController.cs
  app/mobile/Assets/Scripts/GroupRequests/GetAllGroups.cs
  app/mobile/Assets/Scripts/GroupRequests/GroupPage.cs
  app/mobile/Assets/Scripts/GroupRequests/GroupPage.cs.meta
Labels: Priority: High, Type: Feature, Status: Done, Team: Mobile

#826 Backend/achievement model
  app/backend/src/main/java/com/app/gamereview/controller/AchievementController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/achievement/CreateAchievementRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/achievement/GrantAchievementRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/achievement/UpdateAchievementRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/post/CreatePostRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostDetailResponseDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostListResponseDto.java
  app/backend/src/main/java/com/app/gamereview/enums/AchievementType.java
  app/backend/src/main/java/com/app/gamereview/model/Achievement.java
  app/backend/src/main/java/com/app/gamereview/model/Post.java
  app/backend/src/main/java/com/app/gamereview/model/User.java
  app/backend/src/main/java/com/app/gamereview/repository/AchievementRepository.java
  app/backend/src/main/java/com/app/gamereview/service/AchievementService.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/ValidAchievementType.java
  app/backend/src/main/java/com/app/gamereview/util/validation/validator/AchievementTypeValidator.java
Labels: Priority: High, Type: Feature, Status: In Review, Team: Backend

#828 group/get and get-all join status return
  app/backend/src/main/java/com/app/gamereview/controller/GroupController.java
  app/backend/src/main/java/com/app/gamereview/controller/PostController.java
  app/backend/src/main/java/com/app/gamereview/controller/ReviewController.java
  app/backend/src/main/java/com/app/gamereview/dto/response/group/GetGroupResponseDto.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Backend

#829 Group tag population fix
  app/backend/src/main/java/com/app/gamereview/dto/request/group/CreateGroupRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/group/GetAllGroupsFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/game/GameDetailResponseDto.java
  app/backend/src/main/java/com/app/gamereview/enums/TagType.java
  app/backend/src/main/java/com/app/gamereview/model/Game.java
  app/backend/src/main/java/com/app/gamereview/service/GameService.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
Labels: Type: Enhancement, Status: Done, Team: Backend

#831 test fix
  app/backend/src/test/java/com/app/gamereview/services/GameServiceTest.java
Labels: Type: Bug, Status: Done, Team: Backend

#833 Meta Achievements Implementation
  app/backend/src/main/java/com/app/gamereview/dto/request/post/CreatePostRequestDto.java
  app/backend/src/main/java/com/app/gamereview/model/Profile.java
  app/backend/src/main/java/com/app/gamereview/repository/ProfileRepository.java
  app/backend/src/main/java/com/app/gamereview/service/AchievementService.java
  app/backend/src/main/java/com/app/gamereview/service/AuthService.java
  app/backend/src/main/java/com/app/gamereview/service/CommentService.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
  app/backend/src/main/java/com/app/gamereview/service/ReviewService.java
  app/backend/src/main/java/com/app/gamereview/service/VoteService.java
  app/backend/src/test/java/com/app/gamereview/services/GameServiceTest.java
Labels: Type: Enhancement, Type: Feature, Team: Backend

#835 Auth service test fix (profile repository is mocked)
  app/backend/src/test/java/com/app/gamereview/service/AuthServiceTest.java
Labels: Type: Bug, Status: Done, Team: Backend

#839 Mobile/group details
  app/mobile/Assets/Resources/Prefabs/GroupPage.prefab
  app/mobile/Assets/Resources/Prefabs/MemberBox.prefab
  app/mobile/Assets/Scripts/Controllers/GameController.cs
  app/mobile/Assets/Scripts/Controllers/PostController.cs
  app/mobile/Assets/Scripts/GameRequests/GameDetails.cs
  app/mobile/Assets/Scripts/GameRequests/GetGame.cs
  app/mobile/Assets/Scripts/GameTagRequests/GameByName.cs
  app/mobile/Assets/Scripts/GroupRequests/GroupDetails.cs
  app/mobile/Assets/Scripts/GroupRequests/GroupPage.cs
  app/mobile/Assets/Scripts/Utilities/CanvasManager.cs
  app/mobile/Assets/Scripts/Utilities/Colors.cs
Labels: Priority: High, Type: Feature, Status: In Review, Team: Mobile

#846 grant-achievement now adds achievement to profile instead of user
  app/backend/src/main/java/com/app/gamereview/model/User.java
  app/backend/src/main/java/com/app/gamereview/repository/ProfileRepository.java
  app/backend/src/main/java/com/app/gamereview/service/AchievementService.java
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Backend

#848 Get group and tag fixes
  app/backend/src/main/java/com/app/gamereview/controller/GroupController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/group/GetAllGroupsFilterRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/tag/CreateTagRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/tag/UpdateTagRequestDto.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
Labels: Type: Bug, Team: Backend

#851 added achievement/delete-by-name endpoint
  app/backend/src/main/java/com/app/gamereview/controller/AchievementController.java
  app/backend/src/main/java/com/app/gamereview/service/AchievementService.java
Labels: Priority: Low, Type: Feature, Status: Done, Team: Backend

#854 Backend/profile
  app/backend/src/main/java/com/app/gamereview/controller/ProfileController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/profile/EditProfileRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/profile/ProfileUpdateGameRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/profile/ProfilePageResponseDto.java
  app/backend/src/main/java/com/app/gamereview/model/Profile.java
  app/backend/src/main/java/com/app/gamereview/repository/GroupRepository.java
  app/backend/src/main/java/com/app/gamereview/repository/ReviewRepository.java
  app/backend/src/main/java/com/app/gamereview/repository/UserRepository.java
  app/backend/src/main/java/com/app/gamereview/service/ProfileService.java
  app/backend/src/main/java/com/app/gamereview/service/UserService.java
Labels: Priority: Medium, Type: Feature, Team: Backend

#853 Changed return type of group detail
  app/backend/src/main/java/com/app/gamereview/controller/GroupController.java
  app/backend/src/main/java/com/app/gamereview/dto/response/group/GetGroupDetailResponseDto.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
Labels: Type: Enhancement, Status: Done, Team: Backend

#860 Is deleted criteria is added twice, hence fixed
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
Labels: Type: Bug, Status: Done, Team: Backend

#857 added filtering by tags to get-post-list endpoint
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostListResponseDto.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
Labels: Priority: High, Type: Bug, Status: In Review, Team: Backend

#850 Frontend Create achievement page
  app/frontend/src/Pages/Admin/Achievement/CreateAchievement/CreateAchievement.module.scss
  app/frontend/src/Pages/Admin/Achievement/CreateAchievement/CreateAchievement.tsx
  app/frontend/src/Pages/Admin/Main/Main.tsx
  app/frontend/src/Services/achievement.ts
  app/frontend/src/router.tsx
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Frontend

#845 Frontend/ Achievement Component Implemented
  app/frontend/src/Components/Achievement/Achievement/Achievement.module.scss
  app/frontend/src/Components/Achievement/Achievement/Achievement.tsx
  app/frontend/src/Components/Achievement/SquareAchievement/SquareAchievement.module.scss
  app/frontend/src/Components/Achievement/SquareAchievement/SquareAchievement.tsx
  app/frontend/src/Components/GameDetails/Summary/Summary.module.scss
  app/frontend/src/Components/GameDetails/Summary/Summary.tsx
  app/frontend/src/Pages/Achievement/Achievements.tsx
  app/frontend/src/Pages/GameDetails/GameDetails.tsx
  app/frontend/src/Services/Register.ts
  app/frontend/src/Services/achievement.ts
  app/frontend/src/router.tsx
Labels: Status: Done, Team: Frontend

#872 fix create achievement bug
  app/frontend/src/Services/achievement.ts
Labels: Priority: Low, Type: Bug, Status: In Review, Team: Frontend

#844 Add app icon + change app name for mobile apk
  app/mobile/Assets/Adaptive Performance/AdaptivePerformanceGeneralSettings.asset
  app/mobile/Assets/Scripts/AppIcon.meta
  app/mobile/Assets/Scripts/AppIcon/guru.jpeg
  app/mobile/Assets/Scripts/AppIcon/guru.jpeg.meta
  app/mobile/Assets/Scripts/TagRequests/GetAllTags.cs
  app/mobile/Assets/Scripts/TagRequests/GetTag.cs
  app/mobile/Packages/manifest.json
  app/mobile/Packages/packages-lock.json
  app/mobile/ProjectSettings/EditorBuildSettings.asset
  app/mobile/ProjectSettings/ProjectSettings.asset
Labels: Priority: Low, Status: In Review, Team: Mobile

#873 populated achievement in get-post-list
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostDetailResponseDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/post/GetPostListResponseDto.java
  app/backend/src/main/java/com/app/gamereview/service/PostService.java
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Backend

#877 arrays as query parameter fix (axios)
  app/backend/src/main/java/com/app/gamereview/GamereviewApplication.java
Labels: Type: Enhancement, Team: Backend

#882 Fixes undefined rating bug
  app/frontend/src/Pages/GameDetails/GameDetails.module.scss
  app/frontend/src/Pages/GameDetails/GameDetails.tsx
Labels: Priority: Critical, Type: Bug, Status: In Review, Team: Frontend

#879 Implementation Profile Functionality Scripts
  app/mobile/Assets/Prefabs/ChangeForgetPassword.prefab
  app/mobile/Assets/Scripts/Controllers/ProfileController.cs
  app/mobile/Assets/Scripts/Controllers/ProfileController.cs.meta
  app/mobile/Assets/Scripts/ProfileRequests/EditProfile.cs
  app/mobile/Assets/Scripts/ProfileRequests/EditProfile.cs.meta
  app/mobile/Assets/Scripts/ProfileRequests/GetProfile.cs
  app/mobile/Assets/Scripts/ProfileRequests/GetProfile.cs.meta
  app/mobile/Assets/Scripts/ProfileRequests/ProfileActivities.cs
  app/mobile/Assets/Scripts/ProfileRequests/ProfileActivities.cs.meta
  app/mobile/Assets/Scripts/ProfileRequests/ProfileAddGame.cs
  app/mobile/Assets/Scripts/ProfileRequests/ProfileAddGame.cs.meta
  app/mobile/Assets/Scripts/ProfileRequests/ProfileRemoveGame.cs
  app/mobile/Assets/Scripts/ProfileRequests/ProfileRemoveGame.cs.meta
Labels: Priority: High, Type: Feature, Status: In Review, Team: Mobile

#883 Mobile group page
  app/mobile/Assets/Resources/Prefabs/GroupPage.prefab
  app/mobile/Assets/Scripts/GroupRequests/GroupPage.cs
  app/mobile/Assets/Sprites/group.png
  app/mobile/Assets/Sprites/group.png.meta
  app/mobile/Assets/Sprites/guru.jpeg
  app/mobile/Assets/Sprites/guru.jpeg.meta
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Mobile

#888 Frontend Replace Alerts With Toasters
  app/frontend/package.json
  app/frontend/pnpm-lock.yaml
  app/frontend/src/App.tsx
  app/frontend/src/Components/Forum/ForumPost/ForumPost.tsx
  app/frontend/src/Library/utils/handleError.ts
  app/frontend/src/Library/utils/notification.ts
  app/frontend/src/Pages/Admin/Game/CreateGame/CreateGame.tsx
  app/frontend/src/Pages/Admin/Tag/CreateTag/CreateTag.tsx
  app/frontend/src/Pages/Admin/Tag/DeleteTag/DeleteTag.tsx
  app/frontend/src/Pages/Admin/Tag/UpdateTag/UpdateTag.tsx
  app/frontend/src/Pages/Admin/User/BanUser/BanUser.tsx
  app/frontend/src/Pages/Admin/User/GiveAdminPermission/GiveAdminPermission.tsx
  app/frontend/src/Pages/ForgotPassword/EnterVerificationCodeForm.tsx
  app/frontend/src/Pages/ForgotPassword/SendVerificationCodeForm.tsx
  app/frontend/src/Pages/ForgotPassword/SetNewPasswordForm.tsx
  app/frontend/src/Pages/Login/Login.tsx
  app/frontend/src/Pages/Register/Register.tsx
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Frontend

#885 Frontend/achievement enhancement
  app/frontend/src/Components/Achievement/Achievement/Achievement.module.scss
  app/frontend/src/Components/Achievement/Achievement/Achievement.tsx
  app/frontend/src/Components/Achievement/SquareAchievement/SquareAchievement.module.scss
  app/frontend/src/Components/Achievement/SquareAchievement/SquareAchievement.tsx
  app/frontend/src/Components/GameDetails/Summary/Summary.module.scss
  app/frontend/src/Components/GameDetails/Summary/Summary.tsx
  app/frontend/src/Pages/ForumPostForm/ForumPostForm.tsx
Labels: Type: Bug, Type: Feature, Status: In Review, Team: Frontend

#887 Frontend group moderation
  app/frontend/src/Components/MemberList/MemberList.module.scss
  app/frontend/src/Components/MemberList/MemberList.tsx
  app/frontend/src/Pages/Group/Group.module.scss
  app/frontend/src/Pages/Group/Group.tsx
  app/frontend/src/Services/group.ts
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Frontend

#890 Modify profile according to frontend
  app/mobile/Assets/Prefabs/DropButtons.prefab
  app/mobile/Assets/Prefabs/DropButtons.prefab.meta
  app/mobile/Assets/Prefabs/Profile.prefab
  app/mobile/Assets/Scripts/Controllers/ProfileController.cs
  app/mobile/Assets/Scripts/Controllers/UserController.cs
  app/mobile/Assets/Scripts/ProfileRequests/GetProfile.cs
  app/mobile/Assets/Sprites/epic_games_black_logo_icon_147139.png
  app/mobile/Assets/Sprites/epic_games_black_logo_icon_147139.png.meta
  app/mobile/Assets/Sprites/game.png
  app/mobile/Assets/Sprites/game.png.meta
  app/mobile/Assets/Sprites/group (1).png
  app/mobile/Assets/Sprites/group (1).png.meta
  app/mobile/Assets/Sprites/home (1).png
  app/mobile/Assets/Sprites/home (1).png.meta
  app/mobile/Assets/Sprites/steam.png
  app/mobile/Assets/Sprites/steam.png.meta
  app/mobile/Assets/Sprites/user (2).png
  app/mobile/Assets/Sprites/user (2).png.meta
  app/mobile/Assets/Sprites/xbox-logo.png
  app/mobile/Assets/Sprites/xbox-logo.png.meta
  app/mobile/Assets/admin-panel.png
  app/mobile/Assets/admin-panel.png.meta
  app/mobile/Assets/settings.png
  app/mobile/Assets/settings.png.meta
Labels: Priority: High, Status: In Review, Team: Mobile

#889 Replace input field with select field
  app/frontend/src/Pages/Admin/Achievement/CreateAchievement/CreateAchievement.module.scss
  app/frontend/src/Pages/Admin/Achievement/CreateAchievement/CreateAchievement.tsx
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Frontend

#874 implemented apply to a private group feature
  app/backend/src/main/java/com/app/gamereview/controller/GroupController.java
  app/backend/src/main/java/com/app/gamereview/dto/request/group/GroupApplicationRequestDto.java
  app/backend/src/main/java/com/app/gamereview/dto/request/group/GroupApplicationReviewDto.java
  app/backend/src/main/java/com/app/gamereview/dto/response/group/GroupApplicationResponseDto.java
  app/backend/src/main/java/com/app/gamereview/enums/GroupApplicationReviewResult.java
  app/backend/src/main/java/com/app/gamereview/enums/GroupApplicationStatus.java
  app/backend/src/main/java/com/app/gamereview/model/GroupApplication.java
  app/backend/src/main/java/com/app/gamereview/repository/GroupApplicationRepository.java
  app/backend/src/main/java/com/app/gamereview/service/GroupService.java
  app/backend/src/main/java/com/app/gamereview/util/validation/annotation/ValidApplicationReviewResult.java
  app/backend/src/main/java/com/app/gamereview/util/validation/validator/ApplicationReviewResultValidator.java
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Backend

#886 Frontend/enhancement/input box
  app/frontend/src/Components/Providers/AntdConfigProvider.tsx
  app/frontend/src/_colors.scss
Labels: Priority: Medium, Type: Enhancement, Status: Done, Team: Frontend

#892 Top-bar navigation fix
  app/frontend/src/Layout/TopBar/TopBar.tsx
Labels: Type: Bug, Team: Frontend

#897 Frontend/game page additions
  app/frontend/src/Components/Game/Game.module.scss
  app/frontend/src/Components/Game/Game.tsx
  app/frontend/src/Pages/Games/Games.module.scss
  app/frontend/src/Pages/Games/Games.tsx
Labels: Type: Enhancement, Team: Frontend

#868 Frontend delete achievement page
  app/frontend/src/Pages/Admin/Achievement/CreateAchievement/CreateAchievement.tsx
  app/frontend/src/Pages/Admin/Achievement/DeleteAchievement/DeleteAchievement.module.scss
  app/frontend/src/Pages/Admin/Achievement/DeleteAchievement/DeleteAchievement.tsx
  app/frontend/src/Pages/Admin/Main/Main.tsx
  app/frontend/src/Services/achievement.ts
  app/frontend/src/router.tsx
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Frontend

#898 Frontend beautify admin page
  app/frontend/src/Pages/Admin/Achievement/CreateAchievement/CreateAchievement.module.scss
  app/frontend/src/Pages/Admin/Achievement/DeleteAchievement/DeleteAchievement.module.scss
  app/frontend/src/Pages/Admin/Game/CreateGame/CreateGame.module.scss
  app/frontend/src/Pages/Admin/Main/Main.tsx
  app/frontend/src/Pages/Admin/Tag/CreateTag/CreateTag.module.scss
  app/frontend/src/Pages/Admin/Tag/DeleteTag/DeleteTag.module.scss
  app/frontend/src/Pages/Admin/User/BanUser/BanUser.module.scss
Labels: Priority: Medium, Type: Enhancement, Status: In Review, Team: Frontend

#899 Frontend last activities
  app/frontend/src/Components/LastActivities/LastActivities.module.scss
  app/frontend/src/Components/LastActivities/LastActivities.tsx
  app/frontend/src/Services/activities.ts
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Frontend

#902 Mobile modify game page and groups page
  app/mobile/Assets/Prefabs/Games.prefab
  app/mobile/Assets/Prefabs/Groups.prefab
  app/mobile/Assets/Resources/Prefabs/GamePage.prefab
  app/mobile/Assets/Sprites/game-console.png
  app/mobile/Assets/Sprites/game-console.png.meta
  app/mobile/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
Labels: Priority: High, Type: Feature, Status: In Review, Team: Mobile

#903 fix last activity bug
  app/frontend/src/Pages/Profile/Profile.tsx
Labels: Priority: Medium, Type: Feature, Status: In Review, Team: Frontend

#911 JUnit tests for review service is implemented
  app/backend/src/test/java/com/app/gamereview/service/ReviewServiceTest.java
Labels: Type: Test, Team: Backend

#917 implemented junit tests for comment service
  app/backend/src/test/java/com/app/gamereview/service/CommentServiceTests.java
  app/backend/src/test/java/com/app/gamereview/service/UserServiceTests.java
Labels: Priority: High, Status: In Review, Type: Test, Team: Backend

#922 Implemented profile service tests
  app/backend/src/test/java/com/app/gamereview/service/ProfileServiceTests.java
Labels: Type: Test, Team: Backend
